<% if (followingList.length > 0) { %>
    <div class="list following-list">
        <div class="wrap">
            <h1><i class="fa-solid fa-user"></i>Following<i class="fa-solid fa-xmark"></i></h1>
            <% followingList.forEach((data) => { %>
                <a class="data" href="/profile/<%= data.user2 %>/std">
                    <img class="avatar" src="https://a.mamesosu.net/<%= data.user2 %>?<%= Math.floor(Math.random() * 10000000000 + 1) %>" alt="">
                    <div class="name">
                        <i title="<%= data.country %>" class="flag-icon flag-icon-<%= data.country %>"></i>
                        <p class="username"><%= data.name %></p>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>
<% } %>