<%
const date = new Date().toLocaleString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit"
}).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
%>
<span id="mutual" class="mutual">
    <i class="fa-solid fa-handshake-simple"></i>
    <%= mutual %>
    <p class="tooltip">Mutual</p>
</span>
<span id="following" class="following">
    <i class="fa-solid fa-user"></i>
    <%= following %>
    <p class="tooltip">Following</p>
</span>
<span id="followers" class="followers">
    <i class="fa-solid fa-user-group"></i>
    <%= followers %>
    <p class="tooltip">Followers</p>
</span>
<% if (mutualList.length > 0) { %>
    <div class="list mutual-list">
        <div class="wrap">
            <h1><i class="fa-solid fa-handshake-simple"></i>Mutual<i class="fa-solid fa-xmark"></i></h1>
            <div class="users">
                <% mutualList.forEach((data) => { %>
                    <a class="data" href="/profile/<%= data.user2 %>">
                        <img class="avatar" src="https://a.mamesosu.net/<%= data.user2 %>?<%= date %>" loading="lazy" alt="" />
                        <div class="name">
                            <i title="<%= data.country %>" class="flag-icon flag-icon-<%= data.country %>"></i>
                            <p class="username"><%= data.name %></p>
                        </div>
                    </a>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>
<% if (followingList.length > 0) { %>
    <div class="list following-list">
        <div class="wrap">
            <h1><i class="fa-solid fa-user"></i>Following<i class="fa-solid fa-xmark"></i></h1>
            <div class="users">
                <% followingList.forEach((data) => { %>
                    <a class="data" href="/profile/<%= data.user2 %>">
                        <img class="avatar" src="https://a.mamesosu.net/<%= data.user2 %>?<%= date %>" loading="lazy" alt="" />
                        <div class="name">
                            <i title="<%= data.country %>" class="flag-icon flag-icon-<%= data.country %>"></i>
                            <p class="username"><%= data.name %></p>
                        </div>
                    </a>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>
<% if (followersList.length > 0) { %>
    <div class="list followers-list">
        <div class="wrap">
            <h1><i class="fa-solid fa-user-group"></i>Followers<i class="fa-solid fa-xmark"></i></h1>
            <div class="users">
                <% followersList.forEach((data) => { %>
                <a class="data" href="/profile/<%= data.user1 %>">
                    <img class="avatar" src="https://a.mamesosu.net/<%= data.user1 %>?<%= date %>" loading="lazy" alt="" />
                    <div class="name">
                        <i title="<%= data.country %>" class="flag-icon flag-icon-<%= data.country %>"></i>
                        <p class="username"><%= data.name %></p>
                    </div>
                </a>
            <% }); %>
            </div>
        </div>
    </div>
<% } %>
<div class="player-status">
    <i class="status fa-solid fa-circle"
    <% if (online) { %>
        style="color: #b3d944;"
    <% } else { %>
        style="color: #000000;"
    <% } %>></i>
    <p>
        <% if (online) { %>
            Online
        <% } else { %>
            <span class="normal">Last seen: <strong title="<%= getLocationTime(info.latest_activity, cty) %>"><%= getLastOnline(info.latest_activity, "l") %></strong></span>
            <span class="short"><strong title="<%= getLocationTime(info.latest_activity, cty) %>"><%= getLastOnline(info.latest_activity, "s") %></strong></span>
        <% } %>
    </p>
</div>