<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "utf-8">
        <title><%= artist %> - <%= title %></title>
        <%- include("link") %>
        <link rel = "stylesheet" href = "/css/beatmap.css">
        <link rel = "stylesheet" href = "/css/hf-bg/beatmap.css">
    </head>
    <body>
    <%- include("header") %>
    <div class = "main">

    </div>
    <%- include("footer") %>
    </body>
</html>