<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%= artist %> - <%= title %></title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/beatmap.css">
        <link rel="stylesheet" href="/css/hf-bg/beatmap.css">
    </head>
    <body>
    <%- include("header") %>
    <main>
        <div class="map-info">
            <h1 class="title">Mapinfo</h1>
        </div>
    </main>
    <%- include("footer") %>
    </body>
</html>