<!DOCTYPE html>
<html lang="ja">
    <head>
        <%
        const date = new Date().toLocaleString("ja-JP", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
        %>
        <title>Documents | Mamestagram</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/documents.css?<%= date %>" />
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #3d3829;
            }

            header {
                background-color: transparent;
            }

            header .pc .documents {
                color: #fdfdfd;
            }

            .animated {
                background-color: #ac8f39;
            }

            .animated .pc li:hover {
                background-color: #ffd966;
            }

            .animated .pc .documents {
                border-bottom: 3px solid #ffd966;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #ac8f39;
                }
            }

            .mobile {
                background-color: #2a2822;
            }

            .mobile .documenats {
                background-color: rgba(255, 217, 102, 0.3);
                color: #fdfdfd;
            }

            .mobile .documents span {
                border-left: 3px solid #ffd966;
            }

            .mobile li:hover {
                background-color: rgba(255, 217, 102, 0.3);
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #3d3829;
                color: #d1c27c;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #3d3829;
            }

            .link-form a, .link-form button {
                background-color: #ac8f39;
            }
            .link-form a:hover, .link-form button:hover {
                background-color: #debc54;
            }

            .about .nav {
                background-color: unset;
                color: #3366ff;
                text-shadow: 2px 2px 2px black;
            }
            .about .nav:hover {
                background-color: unset;
                color: #86a7ff;
            }

            .search-form .searchbox {
                background-color: #464339;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #706b5c;
            }
        </style>
        <%
        const getColor = (diff) => {
            const color = [
                "#4291fd", "#4396fd", "#449bfd", "#46a0fd", // 0.0 ~ 0.5
                "#47a4fd", "#48a9fd", "#4aaffd", "#4bb3fd", // 0.5 ~ 1.0
                "#4cb8fd", "#4dbcfd", "#4ec3f9", "#4ecdf2", // 1.0 ~ 1.5
                "#4ed8eb", "#4ee3e4", "#4eeedc", "#4ef8d6", // 1.5 ~ 2.0
                "#53fdc0", "#5efda2", "#69fd82", "#74fd5f", // 2.0 ~ 2.5
                "#82fc4f", "#97f951", "#abf753", "#bef455", // 2.5 ~ 3.0
                "#d0f257", "#e2f059", "#f4ec5b", "#f5dd5d", // 3.0 ~ 3.5
                "#f6cf5e", "#f8be60", "#f9af62", "#faa063", // 3.5 ~ 4.0
                "#fc8f65", "#fd8167", "#fd7868", "#fd6f69", // 4.0 ~ 4.5
                "#fd676a", "#fd5d6c", "#fd536d", "#fa4d70", // 4.5 ~ 5.0
                "#f24b7b", "#eb4a85", "#e2498f", "#da4799", // 5.0 ~ 5.5
                "#d346a3", "#cc45ac", "#c444b6", "#b548bd", // 5.5 ~ 6.0
                "#a84cc0", "#9b50c6", "#8f54cb", "#8059d0", // 6.0 ~ 6.5
                "#735dd6", "#6561db", "#5a58d2", "#524fc9", // 6.5 ~ 7.0
                "#4745be", "#3f3db6", "#3532ab", "#2a28a0", // 7.0 ~ 7.5
                "#221f97", "#19168e", "#16137f", "#131172", // 7.5 ~ 8.0
                "#110f64", "#0f0d55", "#0c0b46", "#0a0839", // 8.0 ~ 8.5
                "#07062b", "#05051f", "#030211", "#010104", // 8.5 ~ 9.0
                "#000000" // 9.0 ~
            ]
            let index = Math.floor(diff / 0.125);
            if (index > 72) {
                index = 72;
            }
            return color[index];
        }
        %>
    </head>
    <body>
    <%- include("header") %>
    <img class="banner" src="/image/banner/documents.jpg?<%= date %>" alt="" />
    <h1 class="pagename">Documents</h1>
    <main>
        <div class="eng">
            <div class="language">
                <button class="en">EN</button>
                <button class="ja">JA</button>
            </div>
            <ul class="menu menu-en">
                <li><a href="#about-en">Introduction</a></li>
                <li><a href="#rules-en">Rules</a></li>
                <li><a href="#connection-en">How to connect</a></li>
                <li><a href="#dans-en">Dan Courses</a></li>
                <li><a href="#faq-en">FAQ</a></li>
            </ul>
            <article>
                <section id="about-en" class="about">
                    <h1>Introduction</h1>
                    <div class="overview">
                        <h2>Overview</h2>
                        <p>This private server shows scores by mode, which are not ranked in the official servers such as Relax and AutoPilot.</p>
                        <p>You can also rank and score within the server. Let's try to get server #1!</p>
                    </div>
                    <ul class="features">
                        <li>
                            <h2>Introduction of features (mainly Discord) <a href="/discord" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link link"></i>Discord server</a></h2>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1081737936401350717" target="_blank" rel="noopener noreferrer">
                                    # 🏆 | score
                                </a>
                            </h3>
                            <p>In this channel, when someone passes a map or takes first place on a map in MamesOsu, their score and status are automatically sent.</p>
                            <img src="/image/documents/about/1.jpg?<%= date %>" />
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # 📃 | map-request
                                </a>
                            </h3>
                            <p>This channel allows you to apply for maps that are not Ranked to be Ranked or are Ranked to be DeRanked.</p>
                            <p>
                                The submitted maps will be reviewed by testers and those that pass the review will be notified to
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # 🎶 | beatmaps
                                </a>
                                .
                            </p>
                            <p>Your favorite map could be Ranked!</p>
                            <img src="/image/documents/about/2.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # 📃 | map-request
                                </a>
                            </h4>
                            <img src="/image/documents/about/3.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # 🎶 | beatmaps
                                </a>
                            </h4>
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1012666685989339156" target="_blank" rel="noopener noreferrer">
                                    # 💭 | general-chat
                                </a>,
                                <a href="https://discord.com/channels/944248031136587796/1012876250399907850" target="_blank" rel="noopener noreferrer">
                                    # 💭 | osu-chat
                                </a>
                            </h3>
                            <p>
                                In this channel you can chat with other players: 
                                <a href="https://discord.com/channels/944248031136587796/1012876250399907850" target="_blank" rel="noopener noreferrer">
                                    # 💭 | osu-chat
                                </a> 
                                for osu-related matters, 
                                <a href="https://discord.com/channels/944248031136587796/1012666685989339156" target="_blank" rel="noopener noreferrer">
                                    # 💭 | general-chat
                                </a> 
                                for everything else.
                            </p>
                            <img src="/image/documents/about/4.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1012666685989339156" target="_blank" rel="noopener noreferrer">
                                    # 💭 | general-chat
                                </a>
                            </h4>
                            <img src="/image/documents/about/5.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1012876250399907850" target="_blank" rel="noopener noreferrer">
                                    # 💭 | osu-chat
                                </a>
                            </h4>
                        </li>
                    </ul>
                    <p class="others">Mamestagram has many more features, <br>so please join us and experience them for yourself!</p>
                </section>
                <section id="rules-en" class="rules">
                    <h1>Rules</h1>
                    <ul>
                        <li class="content">
                            <h2>Welcome to Mamestagram!</h2>
                            <p>Thank you for joining Mamestagram.</p>
                            <p>The following rules must be strictly followed while using Mamestagram.</p>
                            <p>There are rules for both the private server and the Discord server. It is crucial to read and understand these rules before participating.</p>
                            <p><u>If the rules are not followed, the administration reserves the right to suspend accounts without warning.</u></p>
                        </li>
                        <li class="content">
                            <h2>Prohibited acts on the Discord server</h2>
                            <ol>
                                <li>Acts that cause inconvenience to members (such as spam or posting phishing URLs)</li>
                                <li>Sending messages that put a load on members' devices</li>
                                <li>Use of discriminatory language or any acts that amount to hatred or discrimination based on race, gender, religion, creed, social status, or sexual orientation</li>
                                <li>Making excessively abusive remarks</li>
                                <li>Malicious impersonation of other users</li>
                                <li>Distributing cheats, viruses, or self-made software</li>
                                <li>Posting or attaching NSFW<span class="asterisk">*</span> content</li>
                                <li>Any act deemed inappropriate by the administration or a large number of users</li>
                            </ol>
                            <p class="annotation"><span class="asterisk">*</span> The abbreviation for "Not Safe for Work," which generally refers to content containing adult material, explicit or lewd content, violent imagery, or cruel expressions that are considered inappropriate for viewing or browsing.</p>
                        </li>
                        <li class="content">
                            <h2>Prohibited acts on the Server</h2>
                            <ol>
                                <li>Creating alternate accounts (creating them will result in automatic restrictions)</li>
                                <li>Broadcasting gameplay using cheat engines</li>
                                <li>Using tablet filter functions (may trigger cheat detection systems)</li>
                                <li>Using inappropriate avatars, banners, self-introductions, or usernames</li>
                                <li>Use of discriminatory language or any acts that amount to hatred or discrimination based on race, gender, religion, creed, social status, or sexual orientation</li>
                                <li>Malicious impersonation of other users</li>
                                <li>Performing unnecessary computations on the server</li>
                                <li>Any act deemed inappropriate by the administration or a large number of users</li>
                            </ol>
                        </li>
                        <li class="content">
                            <h2>Reporting Procedures</h2>
                            <p>If you witness or discover any misconduct, please report it to the administration at <a href="https://discord.com/channels/944248031136587796/1171728223407710208" target="_blank" rel="noopener noreferrer"># 🎫 | ticket</a>.</p>
                            <p><u>*False reporting may result in account restrictions.</u></p>
                        </li>
                        <li class="content">
                            <h2>Appeals Process</h2>
                            <p>If you disagree with the administration's response, please report it to the administration at <a href="https://discord.com/channels/944248031136587796/1171728223407710208" target="_blank" rel="noopener noreferrer"># 🎫 | ticket</a>.</p>
                        </li>
                    </ul>
                </section>
                <section id="connection-en" class="connection">
                    <h1>How to connect</h1>
                    <ol>
                        <li>
                            <p>Go to osu! local file</p>
                            <img src="/image/documents/connection/1.jpg?<%= date %>" class="img1" />
                        </li>
                        <li>
                            <p>Right-click on "osu!.exe" then click on "Create shortcut"</p>
                            <img src="/image/documents/connection/2.jpg?<%= date %>" class="img2" />
                            <img src="/image/documents/connection/3.jpg?<%= date %>" class="img3" />
                        </li>
                        <li>
                            <p>Move it to any location (desktop is recommended)</p>
                            <img src="/image/documents/connection/4.jpg?<%= date %>" class="img4" />
                        </li>
                        <li>
                            <p>Change to any name (no need to do it)</p>
                            <img src="/image/documents/connection/5.jpg?<%= date %>" class="img5" />
                        </li>
                        <li>
                            <p>Right-click on it and click on "Properties"</p>
                            <img src="/image/documents/connection/6.jpg?<%= date %>" class="img6" />
                            <img src="/image/documents/connection/7.jpg?<%= date %>" class="img7" />
                        </li>
                        <li>
                            <p>Add one space and <span>-devserver mamesosu.net</span> after "...\osu!.exe" in the "Target" field</p>
                            <img src="/image/documents/connection/8.jpg?<%= date %>" class="img8" />
                        </li>
                        <li>
                            <p>Click on "Apply" and then "OK" to finish setting</p>
                        </li>
                    </ol>
                    <p class="conclusion">Now you are connected to mamesosu.net!</p>
                </section>
                <section id="dans-en" class="dans">
                    <h1>Dan Courses</h1>
                    <div class="overview">
                        <h2>Overview</h2>
                        <p>Here you will find the requirements for passing the Dans and a link to download the map. You can also find these in </p>
                        <p>
                            <a href="https://discord.com/channels/944248031136587796/1175719230650449940" target="_blank" rel="noopener noreferrer">
                                # 🎹 | dan
                            </a>
                            .
                        </p>
                        <p>By passing a dan, the player's level increases by the level of the challenge.</p>
                    </div>
                    <div class="download-dans">
                        <h2>Download link for Dans Map</h2>
                        <p style="padding: 5px 0;">
                            <a href="https://mega.nz/file/QOtzmZBD#5vbWgGLsJ2gMfXPxrjgW_OrljnTdMx3_CZpTOpKS5ww" target="_blank" rel="noopener noreferrer" style="font-size: 16px;">
                                Download maps
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            (All Modes)
                        </p>
                    </div>
                    <ul class="nav">
                        <li><a href="#std-en"><i class="mode-icon mode-osu"></i>std</a></li>
                        <li><a href="#taiko-en"><i class="mode-icon mode-taiko"></i>taiko</a></li>
                        <li><a href="#catch-en"><i class="mode-icon mode-fruits"></i>catch</a></li>
                        <li><a href="#mania-en"><i class="mode-icon mode-mania"></i>mania</a></li>
                    </ul>
                    <ul class="mode">
                        <li id="std-en">
                            <h2>
                                ・osu! standard
                                <a href="https://mega.nz/file/QKsHlLhS#xZfttKbJQqt-2mvT0uD9sIKGJH4VQKf41zXIU_JW81U" target="_blank" rel="noopener noreferrer">
                                    Download std dans
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>Map name</th>
                                    <th>Level</th>
                                    <th>Accuracy</th>
                                    <th>Score</th>
                                    <th>Mod</th>
                                    <th>Miss count</th>
                                    <th>Combo</th>
                                </tr>
                                <tr>
                                    <td rowspan="10">osu!droid Daninintei Course (Dan Course Team)</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="13">95.00%<span class="plus">+</span></td>
                                    <td rowspan="20">0<span class="plus">+</span></td>
                                    <td rowspan="20">NM</td>
                                    <td rowspan="13">40<span class="minus">-</span></td>
                                    <td rowspan="15">0<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">4</td></tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr><td style="color: <%= getColor(6) %>;">6</td></tr>
                                <tr><td style="color: <%= getColor(7) %>;">7</td></tr>
                                <tr><td style="color: <%= getColor(8) %>;">8</td></tr>
                                <tr><td style="color: <%= getColor(9) %>;">9</td></tr>
                                <tr><td style="color: <%= getColor(10) %>;">10</td></tr>
                                <tr>
                                    <td rowspan="10">osu! Standard Dan Certification - Overall</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(4) %>;">4</td>
                                    <td rowspan="2">97.00%<span class="plus">+</span></td>
                                    <td rowspan="2">30<span class="minus">-</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(6) %>;">6</td>
                                    <td rowspan="2">97.50%<span class="plus">+</span></td>
                                    <td rowspan="2">25<span class="minus">-</span></td>
                                    <td rowspan="2">800<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(7) %>;">7</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(8) %>;">8</td>
                                    <td rowspan="2">98.00%<span class="plus">+</span></td>
                                    <td rowspan="2">15<span class="minus">-</span></td>
                                    <td rowspan="2">1,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(9) %>;">9</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(10) %>;">10</td>
                                    <td>98.50%<span class="plus">+</span></td>
                                    <td>10<span class="minus">-</span></td>
                                    <td>1,200<span class="plus">+</span></td>
                                </tr>
                            </table>
                        </li>
                        <li id="taiko-en">
                            <h2>
                                ・osu! taiko
                                <a href="https://mega.nz/file/lDdgFYwK#_OmVCZfkM3Y_SKBT59W6Mtm3nmxOW8i8a8aySwJbUmU" target="_blank" rel="noopener noreferrer">
                                    Download taiko dans
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>Map name</th>
                                    <th>Level</th>
                                    <th>Accuracy</th>
                                    <th>Score</th>
                                    <th>Mod</th>
                                    <th>Miss count</th>
                                    <th>Combo</th>
                                </tr>
                                <!-- Dan-I Dojo -->
                                <tr>
                                    <td rowspan="18">osu!Taiko Dan-I Dojo</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="49">0.00%<span class="plus">+</span></td>
                                    <td rowspan="6">650,000<span class="plus">+</span></td>
                                    <td rowspan="49">Score V2</td>
                                    <td rowspan="49">0<span class="minus">-</span></td>
                                    <td rowspan="49">0<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">4</td></tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr><td style="color: <%= getColor(6) %>;">6</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(7) %>;">7</td>
                                    <td rowspan="3">700,000<span class="plus">+</span></tr>
                                </tr>
                                <tr><td style="color: <%= getColor(8) %>;">8</td></tr>
                                <tr><td style="color: <%= getColor(9) %>;">9</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(10) %>;">10</td>
                                    <td rowspan="3">750,000<span class="plus">+</span></tr>
                                </tr>
                                <tr><td style="color: <%= getColor(11) %>; font-weight: bold;">11</td></tr>
                                <tr><td style="color: <%= getColor(12) %>; font-weight: bold;">12</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(13) %>; font-weight: bold;">13</td>
                                    <td rowspan="6">800,000<span class="plus">+</span></tr>
                                </tr>
                                <tr><td style="color: <%= getColor(14) %>; font-weight: bold;">14</td></tr>
                                <tr><td style="color: <%= getColor(15) %>; font-weight: bold;">15</td></tr>
                                <tr><td style="color: <%= getColor(16) %>; font-weight: bold;">16</td></tr>
                                <tr><td style="color: <%= getColor(17) %>; font-weight: bold;">17</td></tr>
                                <tr><td style="color: <%= getColor(18) %>; font-weight: bold;">18</td></tr>
                                <!-- Rise's Taiko Dans -->
                                <tr>
                                    <td rowspan="12">Rise's Taiko Dans</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="5">700,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">4</td></tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(6) %>;">6</td>
                                    <td rowspan="3">750,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(7) %>;">7</td></tr>
                                <tr><td style="color: <%= getColor(8) %>;">8</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(9) %>;">9</td>
                                    <td rowspan="4">800,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(10) %>;">10</td></tr>
                                <tr><td class="rainbow">???</td></tr>
                                <tr><td class="rainbow">???</td></tr>
                                <!-- Rise's Taiko Dans 2 -->
                                <tr>
                                    <td rowspan="19">Rise's Taiko Dans Ⅱ</td>
                                    <td style="color: <%= getColor(0.6) %>;">R-4</td>
                                    <td rowspan="2">600,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(0.7) %>;">R-3</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(0.8) %>;">R-2</td>
                                    <td rowspan="2">650,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(0.9) %>;">R-1</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(1) %>;">R01</td>
                                    <td rowspan="4">700,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">R02</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">R03</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">R04</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(5) %>;">R05</td>
                                    <td rowspan="4">750,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(6) %>;">R06</td></tr>
                                <tr><td style="color: <%= getColor(7) %>;">R07</td></tr>
                                <tr><td style="color: <%= getColor(8) %>;">R08</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(9) %>;">R09</td>
                                    <td rowspan="7">800,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(10) %>;">R10</td></tr>
                                <tr><td style="color: <%= getColor(11) %>;">RE1</td></tr>
                                <tr><td style="color: <%= getColor(12) %>;">RE2</td></tr>
                                <tr><td style="color: <%= getColor(13) %>;">RM1</td></tr>
                                <tr><td style="color: <%= getColor(14) %>;">RM2</td></tr>
                                <tr><td style="color: <%= getColor(15) %>;">RMG</td></tr>
                            </table>
                        </li>
                        <li id="catch-en">
                            <h2>
                                ・osu! catch
                                <a href="https://mega.nz/file/BS9CQbzK#pjq5WrFbbpap7G0NA2LYNvNFATyZ1dQDRUseSkTdS-g" target="_blank" rel="noopener noreferrer">
                                    Download ctb dans
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>Map name</th>
                                    <th>Level</th>
                                    <th>Accuracy</th>
                                    <th>Score</th>
                                    <th>Mod</th>
                                    <th>Miss count</th>
                                    <th>Combo</th>
                                </tr>
                                <tr>
                                    <td rowspan="19">Dan ~CTB~</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="10">98.00%<span class="plus">+</span></td>
                                    <td rowspan="19">0<span class="plus">+</span></td>
                                    <td rowspan="19">NM</td>
                                    <td rowspan="19">0<span class="minus">-</span></td>
                                    <td rowspan="19">0<span class="plus">+</span></td>
                                </tr>
                                <tr style="color: <%= getColor(2) %>;"><td>2</td></tr>
                                <tr style="color: <%= getColor(3) %>;"><td>3</td></tr>
                                <tr style="color: <%= getColor(4) %>;"><td>4</td></tr>
                                <tr style="color: <%= getColor(5) %>;"><td>5</td></tr>
                                <tr style="color: <%= getColor(6) %>;"><td>6</td></tr>
                                <tr style="color: <%= getColor(7) %>;"><td>7</td></tr>
                                <tr style="color: <%= getColor(8) %>;"><td>8</td></tr>
                                <tr style="color: <%= getColor(9) %>;"><td>9</td></tr>
                                <tr style="color: <%= getColor(10) %>;"><td>10</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(11) %>; font-weight: bold;">11</td>
                                    <td rowspan="9">99.00%<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(12) %>; font-weight: bold;">12</td></tr>
                                <tr><td style="color: <%= getColor(13) %>; font-weight: bold;">13</td></tr>
                                <tr><td style="color: <%= getColor(14) %>; font-weight: bold;">14</td></tr>
                                <tr><td style="color: <%= getColor(15) %>; font-weight: bold;">15</td></tr>
                                <tr><td style="color: <%= getColor(16) %>; font-weight: bold;">16</td></tr>
                                <tr><td style="color: <%= getColor(17) %>; font-weight: bold;">17</td></tr>
                                <tr><td style="color: <%= getColor(18) %>; font-weight: bold;">18</td></tr>
                                <tr><td style="color: <%= getColor(19) %>; font-weight: bold;">19</td></tr>
                            </table>
                        </li>
                        <li id="mania-en">
                            <h2>
                                ・osu! mania
                                <a href="https://mega.nz/file/BCMihKRK#oifqLN7kbyf1gw_0_QVN7um_-SJKLw-Vb_-r_pRvJ1I" target="_blank" rel="noopener noreferrer">
                                    Download mania dans
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>Map name</th>
                                    <th>Keys</th>
                                    <th>Accuracy</th>
                                    <th>Score</th>
                                    <th>Mod</th>
                                    <th>Miss count</th>
                                    <th>Combo</th>
                                </tr>
                                <tr>
                                    <td>Dan ~REFORM~ v2</td>
                                    <td rowspan="5">4</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                    <td rowspan="15">0<span class="plus">+</span></td>
                                    <td>NM</td>
                                    <td rowspan="15">0<span class="minus">-</span></td>
                                    <td rowspan="15">0<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>4K LN Dan Courses v2</td>
                                    <td>97.00%<span class="plus">+</span></td>
                                    <td>Score V2</td>
                                </tr>
                                <tr>
                                    <td>4K shoegazer dan</td>
                                    <td rowspan="5">96.00%<span class="plus">+</span></td>
                                    <td rowspan="13">NM</td>
                                </tr>
                                <tr><td>TR1PLE DAN</td></tr>
                                <tr><td>Chordjack Joker Dan</td></tr>
                                <tr>
                                    <td>6K Regular Dan Course</td>
                                    <td rowspan="3">6</td>
                                </tr>
                                <tr><td>6K Regular Advanced Dan Course</td></tr>
                                <tr>
                                    <td>6K LN Dan Course</td>
                                    <td>95.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>Regular Dan Phase</td>
                                    <td rowspan="4">7</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>LN Dan Phase</td>
                                    <td>95.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>Extra Level (Regular)</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>Extra Level (LN)</td>
                                    <td rowspan="3">95.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>10K BMS Dans Phase</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Malody 4K Dan Regular</td>
                                    <td rowspan="2">4</td>
                                </tr>
                                <tr>
                                    <td>Malody 4K Dan Extra</td>
                                    <td>96.00%<span class=""plus"">+</span></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </section>
                <section id="faq-en" class="faq">
                    <h1>FAQ</h1>
                    <ul>
                        <li>
                            <h2>Q. What is Mamestagram?</h2>
                            <p>A. Mamestagram is a brand new private osu! server unlike any other. Enjoy many fun features that are not available on Bancho!</p>
                        </li>
                        <li>
                            <h2>Q. What is private server?</h2>
                            <p>A. A private osu! server is an unofficial server that allows players to play the osu! with custom features or modifications that differ from the official osu! servers. Also are maintained by individuals or groups and are not affiliated with the creators of the official game.</p>
                        </li>
                        <li>
                            <h2>Q. How do I connect to the Server?</h2>
                            <p>A. <a href="#connection-en">How to connect</a> will help you to connect to the server.</p>
                        </li>
                        <li>
                            <h2>Q. How do I play the Dan Courses?</h2>
                            <p>A. You can download the map at <a href="#dans-en">Dan Courses</a> or <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1175719230650449940"># 🎹 | dan</a>. You can earn titles by passing the specified Dan course maps.</p>
                        </li>
                        <li>
                            <h2>Q. Is it available to use my Bancho account on Mamestagram?</h2>
                            <p>A. No, it isn't. Mamestagram requires a separate account to be created and under no circumstance will request access to your Bancho account.</p>
                        </li>
                        <li>
                            <h2>Q. I don't know the Server Commands! Where do I find them?</h2>
                            <p>A. Please visit <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1087987989600280686"># 📖 | commands</a> to learn all the commands.</p>
                        </li>
                        <li>
                            <h2>Q. How do I appeal my restriction?</h2>
                            <p>A. Please report it to the administration at <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1171728223407710208"># 🎫 | ticket</a></p>
                        </li>
                        <li>
                            <h2>Q. What do I do when I find a bug?</h2>
                            <p>A. If you find any bugs, please create a post at <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1117062398596108298"># 📂 | bug-report</a>, select the appropriate tag, and submit your post.</p>
                        </li>
                        <li>
                            <h2>Q. I can't update a new version of osu.</h2>
                            <p>A. You can't update while connected to Mamestagram! Please connect to Bancho to perform the update, then reconnect to Mamestagram. (This applies to all servers.)</p>
                        </li>
                        <li>
                            <h2>Q. I want to suggest a new feature.</h2>
                            <p>A. To suggest a new feature, please create a post at <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1200023545015697529"># 📨 | idea</a>. We look foward to your ideas.</p>
                        </li>
                    </ul>
                </section>
            </article>
            <a href="#" class="top">Return to<br>top</a>
        </div>
        <div class="jpn">
            <div class="language">
                <button class="en">EN</button>
                <button class="ja">JA</button>
            </div>
            <ul class="menu menu-ja">
                <li><a href="#about-ja">サーバー紹介</a></li>
                <li><a href="#rules-ja">ルール</a></li>
                <li><a href="#connection-ja">接続方法</a></li>
                <li><a href="#dans-ja">段位</a></li>
                <li><a href="#faq-ja">よくある質問</a></li>
            </ul>
            <article>
                <section id="about-ja" class="about">
                    <h1>サーバー紹介</h1>
                    <div class="overview">
                        <h2>概要</h2>
                        <p>このサーバーではRelaxやAutoPilotなどの公式サーバーではランク付けされないスコアもモード別で表示されます。</p>
                        <p>ランクやスコアもそのサーバー内で付けられます。 是非、このサーバーで1位を目指してみましょう！</p>
                    </div>
                    <ul class="features">
                        <li>
                            <h2>機能紹介 (主にDiscord) <a href="/discord" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link link"></i>Discordサーバー</a></h2>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1081737936401350717" target="_blank" rel="noopener noreferrer">
                                    # 🏆 | score
                                </a>
                            </h3>
                            <p>このチャンネルでは、誰かがマップをパスしたときあるいはマップで1位を取ったときのスコアやステータスが自動送信されます。</p>
                            <img src="/image/documents/about/1.jpg?<%= date %>" />
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # 📃 | map-request
                                </a>
                            </h3>
                            <p>このチャンネルでは、RankedにされていないマップをRankedに申請したり、RankedのマップをDeRankedにしたりすることができます。</p>
                            <p>
                                申請されたマップはテスターによって審査され、審査が通り次第、
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # 🎶 | beatmaps
                                </a>
                                に通知されます。
                            </p>
                            <p>あなたの好きなマップがRankedになるかもしれません!</p>
                            <img src="/image/documents/about/2.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # 📃 | map-request
                                </a>
                            </h4>
                            <img src="/image/documents/about/3.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # 🎶 | beatmaps
                                </a>
                            </h4>
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1012666685989339156" target="_blank" rel="noopener noreferrer">
                                    # 💭 | general-chat
                                </a>,
                                <a href="https://discord.com/channels/944248031136587796/1012876250399907850" target="_blank" rel="noopener noreferrer">
                                    # 💭 | osu-chat
                                </a>
                            </h3>
                            <p>
                                このチャンネルでは、他のプレイヤーと雑談をすることができます。osu関連のことであれば、
                                <a href="https://discord.com/channels/944248031136587796/1012876250399907850" target="_blank" rel="noopener noreferrer">
                                    # 💭 | osu-chat
                                </a>
                                、それ以外は<br>
                                <a href="https://discord.com/channels/944248031136587796/1012666685989339156" target="_blank" rel="noopener noreferrer">
                                    # 💭 | general-chat
                                </a>
                                で話してください。
                            </p>
                            <img src="/image/documents/about/4.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1012666685989339156" target="_blank" rel="noopener noreferrer">
                                    # 💭 | general-chat
                                </a>
                            </h4>
                            <img src="/image/documents/about/5.jpg?<%= date %>" />
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1012876250399907850" target="_blank" rel="noopener noreferrer">
                                    # 💭 | osu-chat
                                </a>
                            </h4>
                        </li>
                    </ul>
                    <p class="others">Mamestagramには他にもたくさんの機能があるので是非ご参加いただき、<br>それらを体験していってください！</p>
                </section>
                <section id="rules-ja" class="rules">
                    <h1>ルール</h1>
                    <ul>
                        <li class="content">
                            <h2>Welcome to Mamestagram!</h2>
                            <p>この度は、Mamestagramへ参加していただきありがとうございます。以下のルールはMamestagramで遊ぶ上で必ず守っていただく必要のあるルールです。</p>
                            <p>ルールはプライベートサーバーとDiscordサーバーの2点が存在します。どちらも利用する上でかなり重要なものですので、よく読んだ上で参加をお願いします。</p>
                            <p><u>ルールを守らない場合、運営は警告なしでアカウントを凍結することがあります。</u></p>
                        </li>
                        <li class="content">
                            <h2>Discordサーバーでの禁止行為</h2>
                            <ol>
                                <li>メンバーに迷惑をかける行為 (スパム等や乗っ取りURLの添付など)</li>
                                <li>メンバーの端末に負荷をかけるようなメッセージの送信</li>
                                <li>差別用語の使用、人種、性別、宗教、信条、門地、同性愛の嫌悪や差別に値するあらゆる行為</li>
                                <li>節度の超えた暴言を発言する行為</li>
                                <li>他ユーザーの悪質ななりすまし行為</li>
                                <li>チートやウイルス、自作ソフトウェアなどを配布する行為</li>
                                <li>NSFW<span class="asterisk">※</span>コンテンツの発言、添付行為</li>
                                <li>運営や多数のユーザーが不適切だと判断する行為</li>
                            </ol>
                            <p class="annotation"><span class="asterisk">※</span> 「Not Safe for Work」の略。一般的にはアダルトコンテンツや卑猥な内容、暴力的な映像、残酷な表現を含む画像や動画など、視聴や閲覧が適切でないとされるコンテンツを指す。</p>
                        </li>
                        <li class="content">
                            <h2>プライベートサーバーでの禁止行為</h2>
                            <ol>
                                <li>サブアカウントを作成する行為 (作成すると自動で制限されます)</li>
                                <li>チートエンジンを使用したプレイを送信する行為</li>
                                <li>ペンタブレットのフィルター機能を利用する行為 (チート検知機能が反応する可能性があります)</li>
                                <li>不適切なアバター、バナー、自己紹介、ユーザーネームを記載、設定する行為</li>
                                <li>差別用語の使用、人種、性別、宗教、信条、門地、同性愛の嫌悪や差別に値するあらゆる行為</li>
                                <li>他ユーザーへの悪質ななりすまし行為</li>
                                <li>サーバーに対して不必要な計算を行わせるような行為</li>
                                <li>運営や多数のユーザーが不適切だと判断する行為</li>
                            </ol>
                        </li class="content">
                        <li class="content">
                            <h2>申告について</h2>
                            <p>もし不正行為を目撃、発見した場合、運営に<a href="https://discord.com/channels/944248031136587796/1171728223407710208" target="_blank" rel="noopener noreferrer"># 🎫 | ticket</a>にて報告をお願いします。</p>
                            <p><u>※虚偽の報告はアカウントの制限対象になります</u></p>
                        </li>
                        <li class="content">
                            <h2>異議の申し立てについて</h2>
                            <p>もしも運営の対応に異議がある場合は、運営に<a href="https://discord.com/channels/944248031136587796/1171728223407710208" target="_blank" rel="noopener noreferrer"># 🎫 | ticket</a>にて報告をお願いします。</p>
                        </li>
                    </ul>
                </section>
                <section id="connection-ja" class="connection">
                    <h1>接続方法</h1>
                    <ol>
                        <li>
                            <p>osu!のローカルファイルを開きます</p>
                            <img src="/image/documents/connection/1.jpg?<%= date %>" class="img1" />
                        </li>
                        <li>
                            <p>右クリックをして「ショートカットの作成」をクリックします</p>
                            <img src="/image/documents/connection/2.jpg?<%= date %>" class="img2" />
                            <img src="/image/documents/connection/3.jpg?<%= date %>" class="img3" />
                        </li>
                        <li>
                            <p>好きな場所に移動させます(デスクトップ推奨)</p>
                            <img src="/image/documents/connection/4.jpg?<%= date %>" class="img4" />
                        </li>
                        <li>
                            <p>好きな名前に変更します(変更の必要はありません)</p>
                            <img src="/image/documents/connection/5.jpg?<%= date %>" class="img5" />
                        </li>
                        <li>
                            <p>右クリックをして「プロパティ」をクリックします</p>
                            <img src="/image/documents/connection/6.jpg?<%= date %>" class="img6" />
                            <img src="/image/documents/connection/7.jpg?<%= date %>" class="img7" />
                        </li>
                        <li>
                            <p>「リンク先」欄の「...\osu.exe」の後にスペースを入れ、<span>-devserver mamesosu.net</span>を付け加えます</p>
                            <img src="/image/documents/connection/8.jpg?<%= date %>" class="img8" />
                        </li>
                        <li>
                            <p>「適用」をクリックし「OK」を押して設定を終えます</p>
                        </li>
                    </ol>
                    <p class="conclusion">これでmamesosu.netに接続完了です！</p>
                </section>
                <section id="dans-ja" class="dans">
                    <h1>段位</h1>
                    <div class="overview">
                        <h2>Overview</h2>
                        <p>
                            ここでは、段位の合格条件やマップのダウンロードリンクを載せてあります。また、
                            <a href="https://discord.com/channels/944248031136587796/1175719230650449940" target="_blank" rel="noopener noreferrer">
                                # 🎹 | dan
                            </a>
                            でもこれらの情報を見ることができます。
                        </p>
                        <p>段位をクリアすることでプレイヤーレベルが挑戦したレベル分上がります。</p>
                    </div>
                    <div class="download-dans">
                        <h2>段位マップのダウンロードリンク</h2>
                        <p style="padding: 5px 0;">
                            <a href="https://mega.nz/file/QOtzmZBD#5vbWgGLsJ2gMfXPxrjgW_OrljnTdMx3_CZpTOpKS5ww" target="_blank" rel="noopener noreferrer" style="font-size: 16px;">
                                マップをダウンロード
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            (全モード)
                        </p>
                    </div>
                    <ul class="nav">
                        <li><a href="#std-ja"><i class="mode-icon mode-osu"></i>std</a></li>
                        <li><a href="#taiko-ja"><i class="mode-icon mode-taiko"></i>taiko</a></li>
                        <li><a href="#catch-ja"><i class="mode-icon mode-fruits"></i>catch</a></li>
                        <li><a href="#mania-ja"><i class="mode-icon mode-mania"></i>mania</a></li>
                    </ul>
                    <ul class="mode">
                        <li id="std-ja">
                            <h2>
                                ・osu! standard
                                <a href="https://mega.nz/file/QKsHlLhS#xZfttKbJQqt-2mvT0uD9sIKGJH4VQKf41zXIU_JW81U" target="_blank" rel="noopener noreferrer">
                                    stdの段位をダウンロード
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>マップ名</th>
                                    <th>レベル</th>
                                    <th>Acc</th>
                                    <th>スコア</th>
                                    <th>Mod</th>
                                    <th>ミス数</th>
                                    <th>コンボ数</th>
                                </tr>
                                <tr>
                                    <td rowspan="10">osu!droid Daninintei Course (Dan Course Team)</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="13">95.00%<span class="plus">+</span></td>
                                    <td rowspan="20">0<span class="plus">+</span></td>
                                    <td rowspan="20">NM</td>
                                    <td rowspan="13">40<span class="minus">-</span></td>
                                    <td rowspan="15">0<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">4</td></tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr><td style="color: <%= getColor(6) %>;">6</td></tr>
                                <tr><td style="color: <%= getColor(7) %>;">7</td></tr>
                                <tr><td style="color: <%= getColor(8) %>;">8</td></tr>
                                <tr><td style="color: <%= getColor(9) %>;">9</td></tr>
                                <tr><td style="color: <%= getColor(10) %>;">10</td></tr>
                                <tr>
                                    <td rowspan="10">osu! Standard Dan Certification - Overall</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(4) %>;">4</td>
                                    <td rowspan="2">97.00%<span class="plus">+</span></td>
                                    <td rowspan="2">30<span class="minus">-</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(6) %>;">6</td>
                                    <td rowspan="2">97.50%<span class="plus">+</span></td>
                                    <td rowspan="2">25<span class="minus">-</span></td>
                                    <td rowspan="2">800<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(7) %>;">7</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(8) %>;">8</td>
                                    <td rowspan="2">98.00%<span class="plus">+</span></td>
                                    <td rowspan="2">15<span class="minus">-</span></td>
                                    <td rowspan="2">1,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(9) %>;">9</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(10) %>;">10</td>
                                    <td>98.50%<span class="plus">+</span></td>
                                    <td>10<span class="minus">-</span></td>
                                    <td>1,200<span class="plus">+</span></td>
                                </tr>
                            </table>
                        </li>
                        <li id="taiko-ja">
                            <h2>
                                ・osu! taiko
                                <a href="https://mega.nz/file/lDdgFYwK#_OmVCZfkM3Y_SKBT59W6Mtm3nmxOW8i8a8aySwJbUmU" target="_blank" rel="noopener noreferrer">
                                    taikoの段位をダウンロード
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>マップ名</th>
                                    <th>レベル</th>
                                    <th>Acc</th>
                                    <th>スコア</th>
                                    <th>Mod</th>
                                    <th>ミス数</th>
                                    <th>コンボ数</th>
                                </tr>
                                <!-- Dan-I Dojo -->
                                <tr>
                                    <td rowspan="18">osu!Taiko Dan-I Dojo</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="49">0.00%<span class="plus">+</span></td>
                                    <td rowspan="6">650,000<span class="plus">+</span></td>
                                    <td rowspan="49">Score V2</td>
                                    <td rowspan="49">0<span class="minus">-</span></td>
                                    <td rowspan="49">0<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">4</td></tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr><td style="color: <%= getColor(6) %>;">6</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(7) %>;">7</td>
                                    <td rowspan="3">700,000<span class="plus">+</span></tr>
                                </tr>
                                <tr><td style="color: <%= getColor(8) %>;">8</td></tr>
                                <tr><td style="color: <%= getColor(9) %>;">9</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(10) %>;">10</td>
                                    <td rowspan="3">750,000<span class="plus">+</span></tr>
                                </tr>
                                <tr><td style="color: <%= getColor(11) %>; font-weight: bold;">11</td></tr>
                                <tr><td style="color: <%= getColor(12) %>; font-weight: bold;">12</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(13) %>; font-weight: bold;">13</td>
                                    <td rowspan="6">800,000<span class="plus">+</span></tr>
                                </tr>
                                <tr><td style="color: <%= getColor(14) %>; font-weight: bold;">14</td></tr>
                                <tr><td style="color: <%= getColor(15) %>; font-weight: bold;">15</td></tr>
                                <tr><td style="color: <%= getColor(16) %>; font-weight: bold;">16</td></tr>
                                <tr><td style="color: <%= getColor(17) %>; font-weight: bold;">17</td></tr>
                                <tr><td style="color: <%= getColor(18) %>; font-weight: bold;">18</td></tr>
                                <!-- Rise's Taiko Dans -->
                                <tr>
                                    <td rowspan="12">Rise's Taiko Dans</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="5">700,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">2</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">3</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">4</td></tr>
                                <tr><td style="color: <%= getColor(5) %>;">5</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(6) %>;">6</td>
                                    <td rowspan="3">750,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(7) %>;">7</td></tr>
                                <tr><td style="color: <%= getColor(8) %>;">8</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(9) %>;">9</td>
                                    <td rowspan="4">800,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(10) %>;">10</td></tr>
                                <tr><td class="rainbow">???</td></tr>
                                <tr><td class="rainbow">???</td></tr>
                                <!-- Rise's Taiko Dans 2 -->
                                <tr>
                                    <td rowspan="19">Rise's Taiko Dans Ⅱ</td>
                                    <td style="color: <%= getColor(0.6) %>;">R-4</td>
                                    <td rowspan="2">600,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(0.7) %>;">R-3</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(0.8) %>;">R-2</td>
                                    <td rowspan="2">650,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(0.9) %>;">R-1</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(1) %>;">R01</td>
                                    <td rowspan="4">700,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(2) %>;">R02</td></tr>
                                <tr><td style="color: <%= getColor(3) %>;">R03</td></tr>
                                <tr><td style="color: <%= getColor(4) %>;">R04</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(5) %>;">R05</td>
                                    <td rowspan="4">750,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(6) %>;">R06</td></tr>
                                <tr><td style="color: <%= getColor(7) %>;">R07</td></tr>
                                <tr><td style="color: <%= getColor(8) %>;">R08</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(9) %>;">R09</td>
                                    <td rowspan="7">800,000<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(10) %>;">R10</td></tr>
                                <tr><td style="color: <%= getColor(11) %>;">RE1</td></tr>
                                <tr><td style="color: <%= getColor(12) %>;">RE2</td></tr>
                                <tr><td style="color: <%= getColor(13) %>;">RM1</td></tr>
                                <tr><td style="color: <%= getColor(14) %>;">RM2</td></tr>
                                <tr><td style="color: <%= getColor(15) %>;">RMG</td></tr>
                            </table>
                        </li>
                        <li id="catch-ja">
                            <h2>
                                ・osu! catch
                                <a href="https://mega.nz/file/BS9CQbzK#pjq5WrFbbpap7G0NA2LYNvNFATyZ1dQDRUseSkTdS-g" target="_blank" rel="noopener noreferrer">
                                    ctbの段位をダウンロード
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>マップ名</th>
                                    <th>レベル</th>
                                    <th>Acc</th>
                                    <th>スコア</th>
                                    <th>Mod</th>
                                    <th>ミス数</th>
                                    <th>コンボ数</th>
                                </tr>
                                <tr>
                                    <td rowspan="19">Dan ~CTB~</td>
                                    <td style="color: <%= getColor(1) %>;">1</td>
                                    <td rowspan="10">98.00%<span class="plus">+</span></td>
                                    <td rowspan="19">0<span class="plus">+</span></td>
                                    <td rowspan="19">NM</td>
                                    <td rowspan="19">0<span class="minus">-</span></td>
                                    <td rowspan="19">0<span class="plus">+</span></td>
                                </tr>
                                <tr style="color: <%= getColor(2) %>;"><td>2</td></tr>
                                <tr style="color: <%= getColor(3) %>;"><td>3</td></tr>
                                <tr style="color: <%= getColor(4) %>;"><td>4</td></tr>
                                <tr style="color: <%= getColor(5) %>;"><td>5</td></tr>
                                <tr style="color: <%= getColor(6) %>;"><td>6</td></tr>
                                <tr style="color: <%= getColor(7) %>;"><td>7</td></tr>
                                <tr style="color: <%= getColor(8) %>;"><td>8</td></tr>
                                <tr style="color: <%= getColor(9) %>;"><td>9</td></tr>
                                <tr style="color: <%= getColor(10) %>;"><td>10</td></tr>
                                <tr>
                                    <td style="color: <%= getColor(11) %>; font-weight: bold;">11</td>
                                    <td rowspan="9">99.00%<span class="plus">+</span></td>
                                </tr>
                                <tr><td style="color: <%= getColor(12) %>; font-weight: bold;">12</td></tr>
                                <tr><td style="color: <%= getColor(13) %>; font-weight: bold;">13</td></tr>
                                <tr><td style="color: <%= getColor(14) %>; font-weight: bold;">14</td></tr>
                                <tr><td style="color: <%= getColor(15) %>; font-weight: bold;">15</td></tr>
                                <tr><td style="color: <%= getColor(16) %>; font-weight: bold;">16</td></tr>
                                <tr><td style="color: <%= getColor(17) %>; font-weight: bold;">17</td></tr>
                                <tr><td style="color: <%= getColor(18) %>; font-weight: bold;">18</td></tr>
                                <tr><td style="color: <%= getColor(19) %>; font-weight: bold;">19</td></tr>
                            </table>
                        </li>
                        <li id="mania-ja">
                            <h2>
                                ・osu! mania
                                <a href="https://mega.nz/file/BCMihKRK#oifqLN7kbyf1gw_0_QVN7um_-SJKLw-Vb_-r_pRvJ1I" target="_blank" rel="noopener noreferrer">
                                    maniaの段位をダウンロード
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </h2>
                            <table>
                                <tr>
                                    <th>マップ名</th>
                                    <th>キー数</th>
                                    <th>Acc</th>
                                    <th>スコア</th>
                                    <th>Mod</th>
                                    <th>ミス数</th>
                                    <th>コンボ数</th>
                                </tr>
                                <tr>
                                    <td>Dan ~REFORM~ v2</td>
                                    <td rowspan="5">4</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                    <td rowspan="15">0<span class="plus">+</span></td>
                                    <td>NM</td>
                                    <td rowspan="15">0<span class="minus">-</span></td>
                                    <td rowspan="15">0<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>4K LN Dan Courses v2</td>
                                    <td>97.00%<span class="plus">+</span></td>
                                    <td>Score V2</td>
                                </tr>
                                <tr>
                                    <td>4K shoegazer dan</td>
                                    <td rowspan="5">96.00%<span class="plus">+</span></td>
                                    <td rowspan="13">NM</td>
                                </tr>
                                <tr><td>TR1PLE DAN</td></tr>
                                <tr><td>Chordjack Joker Dan</td></tr>
                                <tr>
                                    <td>6K Regular Dan Course</td>
                                    <td rowspan="3">6</td>
                                </tr>
                                <tr><td>6K Regular Advanced Dan Course</td></tr>
                                <tr>
                                    <td>6K LN Dan Course</td>
                                    <td>95.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>Regular Dan Phase</td>
                                    <td rowspan="4">7</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>LN Dan Phase</td>
                                    <td>95.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>Extra Level (Regular)</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>Extra Level (LN)</td>
                                    <td rowspan="3">95.00%<span class="plus">+</span></td>
                                </tr>
                                <tr>
                                    <td>10K BMS Dans Phase</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Malody 4K Dan Regular</td>
                                    <td rowspan="2">4</td>
                                </tr>
                                <tr>
                                    <td>Malody 4K Dan Extra</td>
                                    <td>96.00%<span class="plus">+</span></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </section>
                <section id="faq-ja" class="faq">
                    <h1>よくある質問</h1>
                    <ul>
                        <li>
                            <h2>Q. Mamestagramとは何ですか?</h2>
                            <p>A. Mamestagramは他にはない真新しいosu!のプライベートサーバーです。Banchoでは利用することができない機能を存分にお楽しみください!</p>
                        </li>
                        <li>
                            <h2>Q. プライベートサーバーって何?</h2>
                            <p>A. プライベートサーバーは公式のサーバーとは異なるカスタム機能や修正が加わった非公式のサーバーです。また、これは個人もしくはグループによって管理され、公式のゲーム制作者とは関係ありません。</p>
                        </li>
                        <li>
                            <h2>Q. どうやってサーバーに接続できますか?</h2>
                            <p>A. <a href="#connection-ja">接続方法</a>をご覧ください。</p>
                        </li>
                        <li>
                            <h2>Q. どうやって段位をプレイできますか?</h2>
                            <p>A. <a href="#dans-ja">段位</a>または<a class="discord-ch" href="https://discord.com/channels/944248031136587796/1175719230650449940"># 🎹 | dan</a>に段位マップがあるので、そこからダウンロードしてください。各段位を合格することで特定の称号を獲得することができます。</p>
                        </li>
                        <li>
                            <h2>Q. MamestagramでBanchoアカウントは使えますか?</h2>
                            <p>A. 使えません。アカウントは新しく作成する必要があります。</p>
                        </li>
                        <li>
                            <h2>Q. サーバーコマンドがわからない!どこかにコマンド一覧はありますか?</h2>
                            <p>A. <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1087987989600280686"># 📖 | commands</a>にすべてのコマンドが記述されています。</p>
                        </li>
                        <li>
                            <h2>Q. どうやってアカウント制限の言及をしますか?</h2>
                            <p>A. <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1171728223407710208"># 🎫 | ticket</a>にて運営にお問い合わせください。</p>
                        </li>
                        <li>
                            <h2>Q. バグを見つけた際はどうしますか?</h2>
                            <p>A. <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1117062398596108298"># 📂 | bug-report</a>で適切なタグを選択し、投稿してください。</p>
                        </li>
                        <li>
                            <h2>Q. osu!のバージョンアップデートができません。</h2>
                            <p>A. Mamestagramに接続したままアップデートを行うことはできません!Banchoに一度接続をしてアップデート作業を行ってから再度Mamestagramに接続するようお願いします。 (どのサーバーでも共通しています。)</p>
                        </li>
                        <li>
                            <h2>Q. 新しい機能を提案したいです。</h2>
                            <p>A. <a class="discord-ch" href="https://discord.com/channels/944248031136587796/1200023545015697529"># 📨 | idea</a>で内容を投稿してください。新機能の提案待ってます!</p>
                        </li>
                    </ul>
                </section>
            </article>
            <a href="#" class="top">トップに戻る</a>
        </div>
    </main>
    <%- include("footer") %>
    <script src="/jquery/documents.js" nonce="<%= cspNonce %>" defer></script>
    </body>
</html>
