<!DOCTYPE html>
<html lang="ja">
    <head>
        <%
        const date = new Date().toLocaleString("ja-JP", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
        %>
        <title>Support | Mamestagram</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/donation.css?<%= date %>" />
        <script src="/jquery/donation.js?<%= date %>" nonce="<%= cspNonce %>" defer></script>
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #3d3029;
            }

            header {
                background-color: transparent;
            }

            .animated {
                background-color: #ac6039;
            }

            .animated .pc li:hover {
                background-color: #ff9966;
            }

            header .pc .donation {
                color: #ea609e;
            }

            .animated .pc .donation {
                text-shadow: 0 0 10px #fdfdfd;
            }

            header .donation-mobile {
                color: #ea609e;
                text-shadow: 0 0 10px #fdfdfd;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #ac6039;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile li:hover {
                background-color: rgba(253, 152, 101, 0.3);
            }

            .mobile .register,
            .mobile .login,
            .mobile .avatar {
                background-color: #3d3029;
                color: #d9b29e;
            }
            .mobile .register:hover,
            .mobile .login:hover,
            .mobile .avatar:hover {
                background-color: #3d3029;
            }

            .link-form a,
            .link-form button {
                background-color: #ac6039;
            }
            .link-form a:hover,
            .link-form button:hover {
                background-color: #ff9966;
            }

            .search-form .searchbox {
                background-color: #463e39;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #70635c;
            }
        </style>
    </head>
    <body>
        <%- include("header") %>
        <main>
            <nav class="language">
                <ul>
                    <li class="btn-en">EN</li>
                    <li class="btn-ja">JA</li>
                </ul>
            </nav>
            <nav class="menu">
                <div class="wrap en">
                    <ul>
                        <li>
                            <a href="#introduction">
                                <p>Introduction</p>
                            </a>
                        </li>
                        <li>
                            <a href="#features">
                                <p>Features</p>
                            </a>
                        </li>
                        <li>
                            <a href="#subscription">
                                <p>Subscription</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="wrap ja">
                    <ul>
                        <li>
                            <a href="#introduction">
                                <p>はじめに</p>
                            </a>
                        </li>
                        <li>
                            <a href="#features">
                                <p>追加機能</p>
                            </a>
                        </li>
                        <li>
                            <a href="#subscription">
                                <p>サポーター申込</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <article>
                <section id="introduction" class="overview">
                    <ul>
                        <li class="introduction">
                            <div class="wrap en">
                                <h1>Introduction</h1>
                                <p>
                                    Hello! Thank you for always playing Mamestagram. Mamestagram is a private osu! server that we, the developers, have been working on with full dedication, aiming to revolutionize the osu! experience.
                                </p>
                                <p>
                                    It has been two years since we started developing this project back in high school. Thanks to the support of many people, we have been able to continue running it until now.
                                </p>
                                <p>
                                    We will keep pushing forward to stay at the forefront of private server development.<br>
                                    We appreciate your continued support for Mamestagram!
                                </p>
                            </div>
                            <div class="wrap ja">
                                <h1>はじめに</h1>
                                <p>
                                    こんにちは！いつもMamestagramをプレイしていただきありがとうございます。Mamestagramは、<br>
                                    「これまでのosu!体験を一新するプライベートサーバー」を目指して、開発者一同が全力で取り組んできた<br>
                                    osu!のプライベートサーバーです。
                                </p>
                                <p>
                                    高校生の頃から開発を続けて早二年。多くの方々のサポートのおかげで、<br>
                                    ここまで運営を続けることができました。
                                </p>
                                <p>
                                    これからもプライベートサーバーの最前線を目指し、全力で開発を続けていきます。<br>
                                    今後ともMamestagramをよろしくお願いいたします！
                                </p>
                            </div>
                        </li>
                        <li class="perks">
                            <div class="wrap en">
                                <h1>What perks do I get?</h1>
                                <p>Here are the 7 features below</p>
                            </div>
                            <div class="wrap ja">
                                <h1>得られる特典</h1>
                                <p>以下に7つの機能を紹介しています。</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="features" class="contents">
                    <ul class="functions-list">
                        <li class="bancho-lb free">
                            <div class="wrap en">
                                <h1>1. Bancho Leaderboard</h1>
                                <div class="media">
                                    <video class="free" src="/image/donation/bancho-lb-3_1.mp4" preload="none" autoplay loop muted></video>
                                    <img class="free" src="/image/donation/bancho-lb-3_2.png?<%= date %>" loading="lazy" alt="" />
                                    <video class="paid" src="/image/donation/bancho-lb-51_1.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        Rankings on Mamestagram are available.
                                    </p>
                                    <p class="paid">
                                        The rankings within Mamestagram will be displayed<br>
                                        by executing <code>!leaderboard(!lb) bancho &lt;on/off&gt;</code>.<br>
                                        Additionally, it also supports rankings by Mod.
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>1. Banchoリーダーボード</h1>
                                <div class="media">
                                    <video class="free" src="/image/donation/bancho-lb-3_1.mp4" preload="none" autoplay loop muted></video>
                                    <img class="free" src="/image/donation/bancho-lb-3_2.png?<%= date %>" loading="lazy" alt="" />
                                    <video class="paid" src="/image/donation/bancho-lb-51_1.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        Mamestagram内でのランキングが表示されます。
                                    </p>
                                    <p class="paid">
                                        <code>!leaderboard(!lb) bancho &lt;on/off&gt;</code>を実行して<br>
                                        ゲーム内でBanchoのランキングが表示できるようになります。<br>
                                        また、Mod別のランキングにも対応しています。
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-btn">
                                <ul>
                                    <li class="blank"></li>
                                    <li class="supporter"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="ex-friend-lb free">
                            <div class="wrap en">
                                <h1>2. Expanded Friend Leaderboard</h1>
                                <div class="media">
                                    <video class="free" src="/image/donation/ex-friend-lb-3.mp4" preload="none" autoplay loop muted></video>
                                    <video class="paid" src="/image/donation/ex-friend-lb-51.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        Rankings by clan are available<br>
                                        by executing <code>!leaderboard(!lb) friend &lt;clan/friend&gt;</code>.
                                    </p>
                                    <p class="paid">
                                        Failure score rankings and Bancho rankings will be available for display<br>
                                        by executing <code>!lb friend &lt;bancho/clan/fail/friend&gt;</code>.
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>2. フレンドリーダーボードの拡張</h1>
                                <div class="media">
                                    <video class="free" src="/image/donation/ex-friend-lb-3.mp4" preload="none" autoplay loop muted></video>
                                    <video class="paid" src="/image/donation/ex-friend-lb-51.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        <code>!lb friend &lt;clan/friend&gt;</code>で<br>
                                        クラン別のランキングを表示できます。
                                    </p>
                                    <p class="paid">
                                        <code>!lb friend &lt;bancho/clan/fail/friend&gt;</code>で<br>
                                        失敗スコアのランキングや、Banchoのランキングを表示できるようになります。
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-btn">
                                <ul>
                                    <li class="blank"></li>
                                    <li class="supporter"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="wipe free">
                            <div class="wrap en">
                                <h1>3. Specific Score Wipe for Maps</h1>
                                <div class="media">
                                    <video class="paid" src="/image/donation/wipe-51.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        Not available.
                                    </p>
                                    <p class="paid">
                                        You can delete the highest score of a specified map or all scores (including those with Mods)<br>
                                        by executing <code>!wipe &lt;top/all&gt;</code>.
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>3. 特定のマップのスコア削除</h1>
                                <div class="media">
                                    <video class="paid" src="/image/donation/wipe-51.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        使用できません。
                                    </p>
                                    <p class="paid">
                                        <code>!wipe &lt;top/all&lt;</code>で<br>
                                        指定したマップの最高スコア、または全てのスコア（Mod付き）が削除できます。
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-btn">
                                <ul>
                                    <li class="blank"></li>
                                    <li class="supporter"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="lb-dp-count free">
                            <div class="wrap en">
                                <h1>4. Customization of Leaderboard Display Count</h1>
                                <div class="media">
                                    <video class="free" src="/image/donation/lb-display-3.mp4" preload="none" autoplay loop muted></video>
                                    <video class="paid" src="/image/donation/lb-display-51.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        Up to the 100th place is displayed.
                                    </p>
                                    <p class="paid">
                                        Rankings from 100th to 500th place will be available for display<br>
                                        by executing <code>!lb size &lt;100-500&gt;</code>.
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>4. リーダーボードの表示数の変更</h1>
                                <div class="media">
                                    <video class="free" src="/image/donation/lb-display-3.mp4" preload="none" autoplay loop muted></video>
                                    <video class="paid" src="/image/donation/lb-display-51.mp4" preload="none" autoplay loop muted></video>
                                </div>
                                <div class="description">
                                    <p class="free">
                                        100位まで表示されます。
                                    </p>
                                    <p class="paid">
                                        <code>!lb size &lt;100-500&gt;</code>で<br>
                                        100位～500位の間まで表示できるようになります。
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-btn">
                                <ul>
                                    <li class="blank"></li>
                                    <li class="supporter"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="score-based-ranking free">
                            <div class="wrap en">
                                <h1>5. Score-based Ranking</h1>
                                <div class="media">
                                    <img class="free" src="/image/donation/score-based-3.png?<%= date %>" loading="lazy" alt="" />
                                    <img class="paid" src="/image/donation/score-based-51.png?<%= date %>" loading="lazy" alt="" />
                                </div>
                                <div class="description">
                                    <p class="free">
                                        PP rankings are displayed. (This image shows PP ranking)
                                    </p>
                                    <p class="paid">
                                        You will be able to see score rankings as well.<br>
                                        by executing <code>!gamemode &lt;score/pp&gt;</code>. (This image shows score ranking)
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>5. スコアの順位表示</h1>
                                <div class="media">
                                    <img class="free" src="/image/donation/score-based-3.png?<%= date %>" loading="lazy" alt="" />
                                    <img class="paid" src="/image/donation/score-based-51.png?<%= date %>" loading="lazy" alt="" />
                                </div>
                                <div class="description">
                                    <p class="free">
                                        PPの順位が表示されます。(この画像はPPの順位です)
                                    </p>
                                    <p class="paid">
                                        <code>!gamemode &lt;score/pp&gt;</code>で<br>
                                        スコアの順位も表示できるようになります。(この画像はスコアの順位です)
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-btn">
                                <ul>
                                    <li class="blank"></li>
                                    <li class="supporter"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="role free">
                            <div class="wrap en">
                                <h1>6. Supporter Role</h1>
                                <div class="media">
                                    <img class="free" src="/image/donation/role-3.png?<%= date %>" loading="lazy" alt="" />
                                    <img class="paid" src="/image/donation/role-51.png?<%= date %>" loading="lazy" alt="" />
                                </div>
                                <div class="description">
                                    <p>
                                        A supporter badge will be added to the profile page.
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>6. サポーターバッジ</h1>
                                <div class="media">
                                    <img class="free" src="/image/donation/role-3.png?<%= date %>" loading="lazy" alt="" />
                                    <img class="paid" src="/image/donation/role-51.png?<%= date %>" loading="lazy" alt="" />
                                </div>
                                <div class="description">
                                    <p>
                                        プロフィールページにサポーターバッジが付きます。
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-btn">
                                <ul>
                                    <li class="blank"></li>
                                    <li class="supporter"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="web">
                            <div class="wrap en">
                                <h1>7. Web Features</h1>
                                <div class="media">
                                    <img src="/image/donation/web-function.png?<%= date %>" loading="lazy" alt="" />
                                </div>
                                <div class="description">
                                    <p>
                                        Look forward to it.
                                    </p>
                                </div>
                            </div>
                            <div class="wrap ja">
                                <h1>7. Webの機能</h1>
                                <div class="media">
                                    <img src="/image/donation/web-function.png?<%= date %>" loading="lazy" alt="" />
                                </div>
                                <div class="description">
                                    <p>
                                        乞うご期待。
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="subscription" class="subscription">
                    <ul>
                        <li class="how">
                            <div class="wrap en">
                                <h1>How do I get a supporter?</h1>
                                <p>
                                    You need to subscribe to Mamestagram's monthly membership on a donation website called Ko-fi!<br>
                                    Once you join the membership, a supporter will be automatically assigned to your account.
                                </p>
                                <p>
                                    Even if you cancel your membership immediately, your supporter status will be maintained<br>
                                    until the same day of the next month after joining.
                                </p>
                            </div>
                            <div class="wrap ja">
                                <h1>どうやってサポーターになれる？</h1>
                                <p>
                                    Mamestagramの月額メンバーシップに登録するには、Ko-fiという寄付サイトで申し込む必要があります！<br>
                                    メンバーシップに参加すると、サポーターバッジが自動的にあなたのアカウントに付与されます。
                                </p>
                                <p>
                                    メンバーシップをすぐにキャンセルしても、加入日の翌月の同じ日までサポーターの状態が続きます。
                                </p>
                            </div>
                        </li>
                        <li class="prices">
                            <div class="wrap en">
                                <h1>Prices</h1>
                                <p>
                                    You can purchase 1 week of Mamestagram Supporter for $5.<br>
                                    A discount will be applied when purchasing multiple weeks as shown below.
                                </p>
                            </div>
                            <div class="wrap ja">
                                <h1>お値段</h1>
                                <p>
                                    Mamestagramサポーターは1週間$5で購入できます。<br>
                                    複数ヶ月まとめて購入すると、以下のように割引が適用されます。
                                </p>
                            </div>
                            <div class="price-bar">
                                <% let price = 1.25, weeks; %>
                                <ul class="weeks-scale">
                                    <% for(let i = 4; i <= 48; i++) { %>
                                        <% weeks = price * i >= 10 ? Math.floor(i * 1.2) : i %>
                                        <li class="for-<%= weeks %>-weekss<%= i === 1 ? " selected" : "" %>">
                                            <span class="tooltip-element">
                                                <p class="tooltip">
                                                    <span class="price">$<%= price * i %></span>
                                                    <span class="weeks en"><%= weeks %> week<%= i !== 1 ? "s" : "" %></span>
                                                    <span class="weeks ja"><%= weeks %>週間</span>
                                                    <span class="discount en">save <%= price * i >= 10 ? "20" : "0" %>% off</span>
                                                    <span class="discount ja"><%= price * i >= 10 ? "20" : "0" %>%割引</span>
                                                </p>
                                            </span>
                                        </li>
                                    <% } %>
                                </ul>
                                <span class="color">
                                    <span class="tooltip-element">
                                        <p class="tooltip">
                                            <span class="price">$<%= price * 4 %></span>
                                            <span class="weeks en">4 week</span>
                                            <span class="weeks ja">4週間</span>
                                            <span class="discount en">save 0% off</span>
                                            <span class="discount ja">0%割引</span>
                                        </p>
                                    </span>
                                </span>
                                <div class="weeks">
                                    <input type="text" placeholder="4 - 48" value="4" />week(s)
                                </div>
                            </div>
                        </li>
                        <li class="purchase">
                            <div class="wrap en">
                                <h1>I'm convinced!</h1>
                                <p>
                                    Press the button below to purchase a supporter now!
                                </p>
                            </div>
                            <div class="wrap ja">
                                <h1>サポーターになりたい！</h1>
                                <p>
                                    下にあるボタンを押して今すぐサポーターになりましょう！
                                </p>
                            </div>
                            <a href="https://ko-fi.com/mamestagram/tiers" target="_blank" rel="noopener noreferrer">
                                <img src="/image/donation/ko-fi.png?<%= date %>" alt="" />
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
        </main>
        <%- include("footer") %>
    </body>
</html>