<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Account settings</title>
        <meta name="robots" content="noindex">
        <%- include("link") %>
        <link rel="stylesheet" href="/css/edit.css">
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #3d3029;
            }

            header {
                background-color: transparent;
            }

            .animated {
                background-color: #ac6039;
            }

            .animated .pc li:hover {
                background-color: #ff9966;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #ac6039;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile .leaderboard span {
                border-left: 3px solid #ff9966;
            }

            .mobile li:hover {
                background-color: rgba(253, 152, 101, 0.3);
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #3d3029;
                color: #d9b29e;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #3d3029;
            }

            .link-form a {
                background-color: #ac6039;
            }
            .link-form a:hover {
                background-color: #ff9966;
            }
        </style>
    </head>
    <body>
    <%- include("header") %>
    <main>
        <div class="box rename">
            <form action="/rename" method="post">
                <h1 class="title">Rename</h1>
                <div class="username">
                    <span class="username-title">
                        Enter a new username below<br>
                        (within 20 characters)
                    </span>
                    <% if (err) { %>
                        <span class="errmsg" style="color: red;"><%= err %></span>
                    <% } %>
                    <input type="text" name="username" value="<%= text %>" required>
                </div>
                <button><input type="submit" value="Confirm"></button>
            </form>
        </div>
        <div class="box avatar">
            <form action="/avatar" method="post" enctype="multipart/form-data">
                <h1 class="title">Change avatar</h1>
                <div class="image">
                    <input type="file" name="avatar" accept=".png, .jpg, .gif, .jpeg, .jfif" onchange="preview(this);" required>
                    <canvas id="preview" width="0" height="0"></canvas>
                </div>
                <button><input type="submit" value="Upload"><i class="fa-solid fa-upload"></i></button>
                <script>
                    function preview(image) {
                        const fileReader = new FileReader();
                        fileReader.onload = (function() {
                            const canvas = document.getElementById("preview");
                            const ctx = canvas.getContext("2d");
                            const image = new Image();
                            image.src = fileReader.result;
                            image.onload = (function() {
                                canvas.width = image.width;
                                canvas.height = image.height;
                                ctx.drawImage(image, 0, 0);
                            });
                        });
                        fileReader.readAsDataURL(image.files[0]);
                    }
                </script>
            </form>
        </div>
    </main>
    <%- include("footer") %>
    </body>
</html>