<!DOCTYPE html>
<html lang="ja">
    <head>
        <%
        const date = new Date().toLocaleString("ja-JP", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
        %>
        <title>Account settings | Mamestagram</title>
        <meta name="robots" content="noindex">
        <%- include("link") %>
        <link rel="stylesheet" href="/css/edit.css?<%= date %>" />
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #3d3029;
            }

            header {
                background-color: transparent;
            }

            .animated {
                background-color: #ac6039;
            }

            .animated .pc li:hover {
                background-color: #ff9966;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #ac6039;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile li:hover {
                background-color: rgba(253, 152, 101, 0.3);
            }

            .mobile .register,
            .mobile .login,
            .mobile .avatar {
                background-color: #3d3029;
                color: #d9b29e;
            }
            .mobile .register:hover,
            .mobile .login:hover,
            .mobile .avatar:hover {
                background-color: #3d3029;
            }

            .link-form a,
            .link-form button {
                background-color: #ac6039;
            }
            .link-form a:hover,
            .link-form button:hover {
                background-color: #ff9966;
            }

            .search-form .searchbox {
                background-color: #463e39;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #70635c;
            }
        </style>
    </head>
    <body>
        <%- include("header") %>
        <main>
            <div class="box rename">
                <form id="rename" action="/rename" method="post">
                    <h1 class="title">Rename</h1>
                    <div class="username">
                        <span class="username-title">
                            Enter a new username below<br />
                            (within 15 characters)
                        </span>
                        <% if (err) { %>
                            <span class="errmsg" style="color: red"><%= err %></span>
                        <% } %>
                        <input
                            type="text"
                            name="username"
                            value="<%= text %>"
                            required />
                    </div>
                    <div class="checkbox">
                        <input
                            type="checkbox"
                            name="pastName"
                            onChange="toggleSetting()"
                            <% if (checked) { %>
                            checked 
                            <% } %>>Display past names publicly
                    </div>
                    <button class="btn"><input type="submit" value="Confirm" /></button>
                </form>
                <script>
                    function toggleSetting() {
                        alert("The setting has been changed.");
                        document.getElementById("rename").submit();
                    }
                </script>
            </div>
            <div class="box avatar">
                <form action="/avatar" method="post" enctype="multipart/form-data">
                    <h1 class="title">Change avatar</h1>
                    <div class="image">
                        <input
                            type="file"
                            name="avatar"
                            accept=".png, .jpg, .jpeg, .webp, .gif"
                            required />
                        <div class="set-badge">
                            <a class="none" href="/changebadge/0">
                                <i class="fa-solid fa-ban"
                                <% if (setBadge === 0) { %>
                                    style="color: red; opacity: 1;"
                                <% } %>></i>
                            </a>
                            <% badgeInfo.forEach((info) => { %>
                                <% if (hadBadge.split(",").includes(info.badge_id.toString())) { %>
                                    <a title="<%= info.prob >= 15 ? "Common" : info.prob >= 8 ? "Rare" : "Epic" %>: <%= info.badge_name %>" class="gacha-badge" href="/changebadge/<%= info.badge_id %>">
                                        <img src="/image/gacha/<%= info.badge_id %>.png?<%= date %>" onerror="this.onerror = null; this.src = '/image/gacha/<%= info.badge_id %>.gif?<%= date %>'" alt=""
                                        <% if (setBadge === info.badge_id) { %>
                                            style="filter: grayscale(0%); opacity: 1;"
                                        <% } %> />
                                    </a>
                                <% } else { %>
                                    <div class="mystery">
                                        <% if (info.prob >= 8) { %>
                                            <i title="??? (<%= info.prob %>%)" class="<%= info.prob >= 15 ? "common" : "rare" %> fa-regular fa-block-question"></i>
                                        <% } else { %>
                                            <i title="??? (<%= info.prob %>%)" class="epic fa-kit fa-regular-block-question-sparkle"></i>
                                        <% } %>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <span class="description">
                            Keep it within 5mb.<br>
                            <strong>.png</strong>, <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.webp</strong>, <strong>.gif</strong> is available.
                        </span>
                        <span class="errmsg err-size" style="display: none; color: red">File too large</span>
                        <span class="errmsg err-format" style="display: none; color: red">Unsupported file format</span>
                        <canvas id="pre_avatar" width="0" height="0"></canvas>
                    </div>
                    <button class="btn">
                        <input type="submit" value="Upload" />
                        <i class="fa-solid fa-upload"></i>
                    </button>
                    <p class="btn reset"
                    <% if (exist.avatar) { %>
                        onclick="reset('avatar')"
                    <% } else { %>
                        style="background-color: #ac6039; opacity: 0.5; cursor: not-allowed;"
                    <% } %>>
                        Reset
                        <i class="fa-sharp fa-solid fa-rotate-right"></i>
                    </p>
                </form>
            </div>
            <div class="box banner_img">
                <form action="/banner" method="post" enctype="multipart/form-data">
                    <h1 class="title">Change banner</h1>
                    <div class="image">
                        <input
                            type="file"
                            name="banner_img"
                            accept=".png, .jpg, .jpeg, .webp, .gif"
                            required />
                        <span class="description">
                            Keep it within 5mb.<br>
                            <strong>.png</strong>, <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.webp</strong>, <strong>.gif</strong> is available.
                        </span>
                        <span class="errmsg err-size" style="display: none; color: red">File too large</span>
                        <span class="errmsg err-format" style="display: none; color: red">Unsupported file format</span>
                        <canvas id="pre_banner_img" width="0" height="0"></canvas>
                    </div>
                    <button class="btn">
                        <input type="submit" value="Upload" />
                        <i class="fa-solid fa-upload"></i>
                    </button>
                    <p class="btn reset"
                    <% if (exist.banner) { %>
                        onclick="reset('banner_img')"
                    <% } else { %>
                        style="background-color: #ac6039; opacity: 0.5; cursor: not-allowed;"
                    <% } %>>
                        Reset
                        <i class="fa-sharp fa-solid fa-rotate-right"></i>
                    </p>
                </form>
            </div>
            <div class="box bgimage">
                <form action="/bgimage" method="post" enctype="multipart/form-data">
                    <h1 class="title">Change background</h1>
                    <div class="image">
                        <input
                            type="file"
                            name="bgimage"
                            accept=".png, .jpg, .jpeg, .webp, .gif"
                            required />
                        <span class="description">
                            Keep it within 5mb.<br>
                            <strong>.png</strong>, <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.webp</strong>, <strong>.gif</strong> is available.
                        </span>
                        <span class="errmsg err-size" style="display: none; color: red">File too large</span>
                        <span class="errmsg err-format" style="display: none; color: red">Unsupported file format</span>
                        <canvas id="pre_bgimage" width="0" height="0"></canvas>
                    </div>
                    <button class="btn">
                        <input type="submit" value="Upload" />
                        <i class="fa-solid fa-upload"></i>
                    </button>
                    <p class="btn reset"
                    <% if (exist.bgimage) { %>
                        onclick="reset('bgimage')"
                    <% } else { %>
                        style="background-color: #ac6039; opacity: 0.5; cursor: not-allowed;"
                    <% } %>>
                        Reset
                        <i class="fa-sharp fa-solid fa-rotate-right"></i>
                    </p>
                </form>
            </div>
        </main>
        <%- include("footer") %>
        <script>
            $(".box .image input").change(function() {
                const image = $(this)[0].files[0];
                preview($(this).attr("name"), image);
            });

            function preview(name, image) {
                const fileReader = new FileReader();
                const format = /\.(jpe?g|png|webp|gif)$/i;
                fileReader.onload = function () {
                    const canvas = document.getElementById(`pre_${name}`);
                    const ctx = canvas.getContext("2d");
                    const image = new Image();
                    image.src = fileReader.result;
                    image.onload = function () {
                        canvas.width = image.width;
                        canvas.height = image.height;
                        ctx.drawImage(image, 0, 0);
                    };
                };
                fileReader.readAsDataURL(image);
                // format check
                if (!format.test(image.name)) {
                    $(`.${name} .errmsg.err-format`).show();
                    $(`.${name} form button`).hide();
                }
                // size check
                else if (image.size / 1024 / 1024 > 5) {
                    $(`.${name} .errmsg.err-size`).show();
                    $(`.${name} form button`).hide();
                }
                else {
                    $(`.${name} .errmsg.err-size`).hide();
                    $(`.${name} form button`).show();
                }
            }

            function reset(type) {
                let arg = new Array(2);
                switch (type) {
                    case "avatar":
                        arg[0] = "avatar";
                        arg[1] = "/rstavatar";
                        break;
                    case "banner_img":
                        arg[0] = "banner";
                        arg[1] = "/rstbanner";
                        break;
                    case "bgimage":
                        arg[0] = "background image";
                        arg[1] = "/rstbgimage";
                        break;
                }
                const sure = confirm(`Are you sure you want to reset your ${arg[0]}?`);
                console.log(sure);
                if (sure) {
                    window.location.href = arg[1];
                }
            }
        </script>
    </body>
</html>
