<%
const date = new Date().toLocaleString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit"
}).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
%>
<header>
    <a class="top" href="/"><img src="/image/logo.png?<%= date %>" alt="" /></a>
    <h1><%= pageTitle %></h1>
    <ul class="pc">
        <li class="leaderboard"><a href="/leaderboard/std/performance">Leaderboard</a></li>
        <li class="documents"><a href="/documents">Documents</a></li>
        <li class="discord"><a href="/discord" target="_blank" rel="noopener noreferrer">Discord</a></li>
        <li class="donation" style="border-radius: 30px;">
            <a title="Support us!" href="/donation" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-heart"></i>
            </a>
        </li>
        <li class="search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </li>
        <% if (locals.loginf) { %>
            <li class="avatar">
                <button title="<%= locals.username %>">
                    <img class="avatar-img" src="https://a.mamesosu.net/<%= locals.userid %>?<%= date %>" alt="" />
                    <% if (badge !== 0) { %>
                        <img class="gacha" src="/image/gacha/<%= badge %>.png?<%= date %>" onerror="this.onerror = null; this.src = '/image/gacha/<%= badge %>.gif?<%= date %>'" alt="" />
                    <% } %>
                </button>
            </li>
        <% } else { %>
            <li class="register"><a href="/register">Register</a></li>
            <li class="login"><a href="/login">Sign in</a></li>
        <% } %>
    </ul>
    <button class="search-mobile">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <i class="fa-solid fa-chevron-down arrow down"></i>
</header>
<ul class="mobile">
    <% if (locals.loginf) { %>
        <li class="avatar">
            <div>
                <img class="avatar-img" src="https://a.mamesosu.net/<%= locals.userid %>?<%= date %>" alt="" />
                <% if (badge !== 0) { %>
                    <img class="gacha" src="/image/gacha/<%= badge %>.png?<%= date %>" onerror="this.onerror = null; this.src = '/image/gacha/<%= badge %>.gif?<%= date %>'" alt="" />
                <% } %>
            </div>
            <button><%= locals.username %></button>
        </li>
    <% } else { %>
        <li class="register"><a href="/register">Register</a></li>
        <li class="login"><a href="/login">Sign in</a></li>
    <% } %>
    <li class="leaderboard">
        <span></span>
        <a href="/leaderboard/std/performance">Leaderboard</a>
    </li>
    <li class="documents">
        <span></span>
        <a href="/documents">Documents</a>
    </li>
    <li class="discord">
        <span></span>
        <a href="/discord" target="_blank" rel="noopener noreferrer">Discord</a>
    </li>
</ul>
<% if (locals.loginf === true) { %>
    <div class="link-form">
        <a href="/profile/<%= locals.userid %>">
            My profile
        </a>
        <a href="/edit">Settings</a>
        <button onclick="dialog()">Sign out</button>
    </div>
    <script>
        function dialog() {
            let sure = confirm("Are you sure?");
            if (sure) {
                window.location.href = "/logout";
            }
        }
    </script>
<% } %>
<form class="search-form" id="search" action="/search" method="post">
    <div class="searchbox">
        <div class="txtbox">
            <input type="search" placeholder="Type to search" oninput="inputText()" name="value">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <script>
        let inputEnd;
        function inputText() {
            if (inputEnd) {
                clearTimeout(inputEnd);
            }
            inputEnd = setTimeout(search, 1000);
        }

        function search() {
            if ($("#search input").val().length > 0) {
                document.getElementById("search").submit();
            }
        }
    </script>
</form>