<header>
    <a href="/leaderboard"><img src="/image/logo.png" alt=""></a>
    <h1><%= pageTitle %></h1>
    <ul class="pc">
        <li class="beatmaps"><a href="/beatmaps/custom/any/none">Beatmaps</a></li>
        <li class="leaderboard"><a href="/leaderboard">Leaderboard</a></li>
        <li class="documents"><a href="/documents">Documents</a></li>
        <li class="discord"><a href="/discord" target="_blank" rel="noopener noreferrer">Discord</a></li>
        <% if (locals.loginf) { %>
            <li class="avatar">
                <button title="<%= locals.username %>">
                    <img src="https://a.mamesosu.net/<%= locals.userid %>?<%= Math.floor(Math.random() * 1000) %>" alt="">
                </button>
            </li>
        <% } else { %>
            <li class="register"><a href="/register">Register</a></li>
            <li class="login"><a href="/login">Sign in</a></li>
        <% } %>
    </ul>
    <i class="fa-solid fa-chevron-down arrow down"></i>
</header>
<ul class="mobile">
    <% if (locals.loginf) { %>
        <li class="avatar">
            <img src="https://a.mamesosu.net/<%= locals.userid %>" alt="">
            <button><%= locals.username %></button>
        </li>
    <% } else { %>
        <li class="register"><a href="/register">Register</a></li>
        <li class="login"><a href="/login">Sign in</a></li>
    <% } %>
    <li class="beatmaps">
        <span></span><a href="/beatmaps/custom/any/none">Beatmaps</a>
    </li>
    <li class="leaderboard">
        <span></span><a href="/leaderboard">Leaderboard</a>
    </li>
    <li class="documents">
        <span></span>
        <a href="/documents">Documents</a>
    </li>
    <li class="discord">
        <span></span><a href="/discord" target="_blank" rel="noopener noreferrer">Discord</a>
    </li>
</ul>
<% if (locals.loginf === true) { %>
    <div class="link-form">
        <a href="/profile/id=<%= locals.userid %>/mode=std/special=none/1&1&1">
            My Profile
        </a>
        <a href="/rename">Change name</a>
        <a href="/logout">Sign out</a>
    </div>
<% } %>