<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Leaderboard | Mamestagram</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/leaderboard.css">
        <%
        const getModeName = (modeNum) => {
            switch (modeNum) {
                case 0: return "std";
                case 1: return "taiko";
                case 2: return "ctb";
                case 3: return "mania";
                case 4: return "stdrx";
                case 5: return "taikorx";
                case 6: return "ctbrx";
                case 8: return "stdap";
                default: return "std";
            }
        }
        %>
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #2e293d;
            }

            header {
                background-color: transparent;
            }

            header .pc .leaderboard {
                color: #fdfdfd;
            }

            .animated {
                background-color: #345c84;
            }

            .animated .pc li:hover {
                background-color: #6495ed;
            }

            .animated .pc .leaderboard {
                border-bottom: 3px solid #6495ed;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #345c84;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile .leaderboard {
                background-color: #4169e1;
                color: #fdfdfd;
            }

            .mobile .leaderboard span {
                border-left: 3px solid #6495ed;
            }

            .mobile li:hover {
                background-color: #4169e1;
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #35364d;
                color: #6495ed;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #35364d;
            }

            .link-form a {
                background-color: #345c84;
            }
            .link-form a:hover {
                background-color: #6495ed;
            }
        </style>
        <% if (sortby === "dans") { %>
            <style>
                .acc-title, .playcount-title, .acc, .playcount {
                    width: 120px;
                }
            
                .acc {
                    margin: 0;
                }

                @media (max-width: 767px) {
                    .acc-title, .playcount-title, .acc, .playcount {
                        width: 70px;
                    }
                }
            </style>
        <% } %>
    </head>
    <body>
    <%- include("header") %>
    <main>
        <img class="banner" src="/image/banner/leaderboard.png" alt="">
        <h1 class="pagename">LEADERBOARD</h1>
        <div class="selection">
            <ul class="special">
                <li class="classic"
                <% if (modeNum >= 0 && modeNum < 4 && sortby !== "dans") { %>
                    style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                <% } %>>
                    <a
                    <% if (modeNum % 4 === 0) { %>
                        href="/leaderboard/std/performance"
                    <% } else if (modeNum % 4 === 1) { %>
                        href="/leaderboard/taiko/performance"
                    <% } else if (modeNum % 4 === 2) { %>
                        href="/leaderboard/ctb/performance"
                    <% } else { %>
                        href="/leaderboard/mania/performance"
                    <% } %>>Classic</a>
                </li>
                <% if (modeNum !== 3) { %>
                    <li class="relax"
                    <% if (modeNum >= 4 && modeNum < 7 && sortby !== "dans") { %>
                        style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                    <% } %>>
                        <a
                        <% if (modeNum % 4 === 0) { %>
                            href="/leaderboard/stdrx/performance"
                        <% } else if (modeNum % 4 === 1) { %>
                            href="/leaderboard/taikorx/performance"
                        <% } else if (modeNum % 4 === 2) { %>
                            href="/leaderboard/ctbrx/performance"
                        <% } %>>Relax</a>
                    </li>
                <% } %>
                <% if (modeNum % 4 === 0) { %>
                    <li class="auto-pilot"
                    <% if (modeNum === 8 && sortby !== "dans") { %>
                        style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                    <% } %>>
                        <a href="/leaderboard/stdap/performance">Auto Pilot</a>
                    </li>
                <% } %>
                <% if (modeNum % 4 === 1 || modeNum === 3) { %>
                    <li class="dans"
                    <% if (sortby === "dans") { %>
                        style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                    <% } %>>
                    <a
                    <% if (modeNum % 4 === 0) { %>
                        href="/leaderboard/std/dans"
                    <% } else if (modeNum % 4 === 1) { %>
                        href="/leaderboard/taiko/dans"
                    <% } else if (modeNum % 4 === 2) { %>
                        href="/leaderboard/ctb/dans"
                    <% } else if (modeNum === 3) { %>
                        href="/leaderboard/mania/dans"
                    <% } %>>Dans</a>
                    </li>
                <% } %>
            </ul>
            <ul class="mode">
                <% if (sortby !== "dans") { %>
                    <li class="std"
                    <% if (modeNum % 4 === 0 && sortby !== "dans") { %>
                        style="filter: invert(0%); opacity: 1"
                    <% } %>>
                    <a
                    <% if (modeNum >= 0 && modeNum < 4) { %>
                        href="/leaderboard/std/<%= sortby %>"
                    <% } else if (modeNum < 7) { %>
                        href="/leaderboard/stdrx/<%= sortby %>"
                    <% } else { %>
                        href="/leaderboard/stdap/<%= sortby %>"
                    <% } %>><i class="mode-icon mode-osu"></i></a>
                </li>
                <% } %>
                <% if (modeNum !== 8) { %>
                    <li class="taiko"
                    <% if (modeNum % 4 === 1) { %>
                        style="filter: invert(0%); opacity: 1"
                    <% } %>>
                        <a
                        <% if (modeNum >= 0 && modeNum < 4) { %>
                            href="/leaderboard/taiko/<%= sortby %>"
                        <% } else { %>
                            href="/leaderboard/taikorx/<%= sortby %>"
                        <% } %>><i class="mode-icon mode-taiko"></i></a>
                    </li>
                    <% if (sortby !== "dans") { %>
                        <li class="catch"
                        <% if (modeNum % 4 === 2) { %>
                            style="filter: invert(0%); opacity: 1"
                        <% } %>>
                        <a
                        <% if (modeNum >= 0 && modeNum < 4) { %>
                            href="/leaderboard/ctb/<%= sortby %>"
                        <% } else { %>
                            href="/leaderboard/ctbrx/<%= sortby %>"
                        <% } %>><i class="mode-icon mode-fruits"></i></a>
                    </li>
                    <% } %>
                <% } %>
                <% if (modeNum >= 0 && modeNum < 4) { %>
                    <li class="mania"
                    <% if (modeNum === 3) { %>
                        style="filter: invert(0%); opacity: 1"
                    <% } %>>
                        <a href="/leaderboard/mania/<%= sortby %>">
                            <i class="mode-icon mode-mania"></i>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="page">
            <% if (page !== 1) { %>
                <a href="/leaderboard/<%= getModeName(modeNum) %>/<%= sortby %>&page=<%= page - 1 %>" class="pagearrow">
                    <i class="fa-solid fa-backward"></i>
                </a>
            <% } %>
            <p>page : <%= page %></p>
            <% if (nextpage.length !== 0) { %>
                <a href="/leaderboard/<%= getModeName(modeNum) %>/<%= sortby %>&page=<%= page + 1 %>" class="pagearrow">
                    <i class="fa-solid fa-forward"></i>
                </a>
            <% } %>
        </div>
        <div class="ranking-table">
            <div class=table-title>
                <% if (sortby !== "dans") { %>
                    <span class="acc-title">Accuracy</span>
                    <span class="playcount-title">Play Count</span>
                    <span class="pp-title">Performance</span>
                    <span class="ss-title">SS</span>
                    <span class="s-title">S</span>
                    <span class="a-title">A</span>
                <% } else { %>
                    <span class="grade-title">PP</span>
                    <span class="acc-title">Accuracy</span>
                    <span class="playcount-title">Play Count</span>
                <% } %>
            </div>
            <div class="mode-<%= modeNum %>">
                <% if (ranking.length === 0) { %>
                    <h1 class="nothing">No players available</h1>
                <% } else { %>
                    <% ranking.forEach((player) => { %>
                        <div class="ranking-data">
                            <span class="ranking">#<%= player.ranking.toLocaleString() %></span>
                            <i class="flag-icon flag-icon-<%= player.country %>"></i>
                            <span class="name">
                                <a href="/profile/<%= player.id %>/<%= getModeName(modeNum) %>">
                                    <span class="text"><%= player.name %></span>
                                </a>
                            </span>
                            <% if (sortby !== "dans") { %>
                                <span class="acc"><%= player.acc.toFixed(2) %>%</span>
                                <span class="playcount"><%= player.plays.toLocaleString() %></span>
                                <span class="pp"><%= player.pp.toLocaleString() %></span>
                                <span class="ss"><%= (player.xh_count + player.x_count).toLocaleString() %></span>
                                <span class="s"><%= (player.sh_count + player.s_count).toLocaleString() %></span>
                                <span class="a"><%= player.a_count.toLocaleString() %></span>
                            <% } else { %>
                                <span class="grade"><%= player.reward_pp %></span>
                                <span class="acc"><%= player.acc.toFixed(2) %>%</span>
                                <span class="playcount"><%= player.plays.toLocaleString() %></span>
                            <% } %>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </main>
    <%- include("footer") %>
    </body>
</html>