<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Leaderboard</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/leaderboard.css">
        <link rel="stylesheet" href="/css/hf-bg/leaderboard.css">
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/leaderboard.png" class="banner">
    <h1 class="pagename">LEADERBOARD</h1>
    <main>
        <div class="selection">
            <ul class="special">
                <li class="classic">
                    <button>Classic</button>
                </li>
                <li class="relax">
                    <button>Relax</button>
                </li>
                <li class="auto-pilot">
                    <button>Auto Pilot</button>
                </li>
            </ul>
            <ul class="mode">
                <li class="std">
                    <button><img src="/image/mode/osu.png"></button>
                </li>
                <li class="taiko">
                    <button><img src="/image/mode/taiko.png"></button>
                </li>
                <li class="catch">
                    <button><img src="/image/mode/fruits.png"></button>
                </li>
                <li class="mania">
                    <button><img src="/image/mode/mania.png"></button>
                </li>
            </ul>
        </div>
        <div class="page">
            <a href="/leaderboard" class="pagearrow">
                <img src="/image/arrow.png" class="back">
            </a>
            <p>page : 1</p>
            <a href="/leaderboard" class="pagearrow">
                <img src="/image/arrow.png" class="next">
            </a>
        </div>
        <div class="ranking-table">
            <div class=table-title>
                <span class="acc-title">Accuracy</span>
                <span class="playcount-title">Play Count</span>
                <span class="pp-title">Performance</span>
                <span class="ss-title">SS</span>
                <span class="s-title">S</span>
                <span class="a-title">A</span>
            </div>
            <% let i = 0 %>
            <% rankingByMode.forEach((rankings) => { %>
                <% if (rankings.length === 0) { %>
                    <div class="mode-<%= i++ %>">
                        <h1 class="nothing">No players available</h1>
                    </div>
                <% } else { %>
                    <div class="mode-<%= i++ %>">
                        <% rankings.forEach((ranking) => { %>
                            <div class="ranking-data <%= ranking.row %>">
                                <span class="ranking">#<%= ranking.ranking.toLocaleString() %></span>
                                <i class="flag-icon flag-icon-<%= ranking.country %>"></i>
                                <span class="name">
                                <a href="/profile/id=<%= ranking.id %>/mode=std/special=none/1&1&1">
                                    <span class="text"><%= ranking.name %></span>
                                </a>
                            </span>
                                <span class="acc"><%= ranking.acc.toFixed(2) %>%</span>
                                <span class="playcount"><%= ranking.plays.toLocaleString() %></span>
                                <span class="pp"><%= ranking.pp.toLocaleString() %></span>
                                <span class="ss"><%= ranking.SS.toLocaleString() %></span>
                                <span class="s"><%= ranking.S.toLocaleString() %></span>
                                <span class="a"><%= ranking.A.toLocaleString() %></span>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </main>
    <%- include("footer") %>
    <script src="/jquery/leaderboard.js"></script>
    </body>
</html>