<!DOCTYPE html>
<html lang="ja">
    <head>
        <%
        const date = new Date().toLocaleString("ja-JP", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        }).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
        %>
        <title>Sign in | Mamestagram</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/login.css?<%= date %>" />
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #3d3029;
            }

            header {
                background-color: transparent;
            }

            header .pc .login {
                color: #fdfdfd;
            }

            .animated {
                background-color: #ac6039;
            }

            .animated .pc li:hover {
                background-color: #ff9966;
            }

            .animated .pc .login {
                border-bottom: 3px solid #ff9966;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #ac6039;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile .login {
                background-color: #2e241f;
                color: #fdfdfd;
            }

            .mobile li:hover {
                background-color: rgba(253, 152, 101, 0.3);
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #3d3029;
                color: #d9b29e;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #3d3029;
            }

            .link-form a, .link-form button {
                background-color: #ac6039;
            }
            .link-form a:hover, .link-form button:hover {
                background-color: #ff9966;
            }

            .search-form .searchbox {
                background-color: #463e39;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #70635c;
            }
        </style>
    </head>
    <body>
    <%- include("header") %>
    <main>
        <div class="login-form">
            <form action="/login" method="post">
                <h1 class="title">Sign in</h1>
                <div class="username">
                    <span class="username-title">Username or Email address</span>
                    <% if (err === "notfound") { %>
                        <span class="errmsg">User not found</span>
                    <% } %>
                    <input type="text" name="username" value="<%= untxt %>" required>
                </div>
                <div class="password">
                    <span class="password-title">Password</span>
                    <% if (err === "wrongpass") { %>
                        <span class="errmsg">Password is incorrect</span>
                    <% } %>
                    <div class="input-box">
                        <input type="password" name="password" value="<%= pstxt %>" required>
                        <% if (!webKey) { %>
                            <i class="fa-solid fa-key-skeleton" onclick="getKey()"></i>
                        <% } %>
                    </div>
                </div>
                <p>Don't you have an account? <a href="/register">Register</a></p>
                <button><input type="submit" value="Sign in"></button>
            </form>
        </div>
    </main>
    <%- include("footer") %>
    <script type="text/javascript" nonce="<%= cspNonce %>">
        function getKey() {
            alert("Could be useful somewhere");
            window.location.href = "/key";
        }
    </script>
    </body>
</html>