<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Maplist | Mamestagram</title>
        <meta name="robots" content="noindex">
        <%- include("link") %>
        <link rel="stylesheet" href="/css/maplist.css">
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #2e3538;
            }

            header {
                background-color: transparent;
            }

            header .pc .maplist {
                color: #fdfdfd;
            }

            .animated {
                background-color: #3986ac;
            }

            .animated .pc li:hover {
                background-color: #66ccff;
            }

            .animated .pc .maplist {
                border-bottom: 3px solid #65cafd;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #3986ac;
                }
            }

            .mobile {
                background-color: #22282a;
            }

            .mobile .maplist {
                background-color: rgba(102, 204, 255, 0.3);
                color: #fdfdfd;
            }

            .mobile .leaderboard span {
                border-left: 3px solid #65cafd;
            }

            .mobile li:hover {
                background-color: rgba(102, 204, 255, 0.3);
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #29363d;
                color: #79bdd1;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #29363d;
            }

            .link-form a, .link-form button {
                background-color: #3986ac;
            }
            .link-form a:hover, .link-form button:hover {
                background-color: #4497c0;
            }

            .search-form .searchbox {
                background-color: #394246;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #5c6970;
            }
        </style>
        <%
        const getMode = (modeNum) => {
            switch (modeNum) {
                case 0:
                    return "osu";
                case 1:
                    return "taiko";
                case 2:
                    return "fruits";
                case 3:
                    return "mania";
            }
        }
        const getColor = (diff) => {
            const color = [
                "#4291fd", "#4396fd", "#449bfd", "#46a0fd", // 0.0 ~ 0.5
                "#47a4fd", "#48a9fd", "#4aaffd", "#4bb3fd", // 0.5 ~ 1.0
                "#4cb8fd", "#4dbcfd", "#4ec3f9", "#4ecdf2", // 1.0 ~ 1.5
                "#4ed8eb", "#4ee3e4", "#4eeedc", "#4ef8d6", // 1.5 ~ 2.0
                "#53fdc0", "#5efda2", "#69fd82", "#74fd5f", // 2.0 ~ 2.5
                "#82fc4f", "#97f951", "#abf753", "#bef455", // 2.5 ~ 3.0
                "#d0f257", "#e2f059", "#f4ec5b", "#f5dd5d", // 3.0 ~ 3.5
                "#f6cf5e", "#f8be60", "#f9af62", "#faa063", // 3.5 ~ 4.0
                "#fc8f65", "#fd8167", "#fd7868", "#fd6f69", // 4.0 ~ 4.5
                "#fd676a", "#fd5d6c", "#fd536d", "#fa4d70", // 4.5 ~ 5.0
                "#f24b7b", "#eb4a85", "#e2498f", "#da4799", // 5.0 ~ 5.5
                "#d346a3", "#cc45ac", "#c444b6", "#b548bd", // 5.5 ~ 6.0
                "#a84cc0", "#9b50c6", "#8f54cb", "#8059d0", // 6.0 ~ 6.5
                "#735dd6", "#6561db", "#5a58d2", "#524fc9", // 6.5 ~ 7.0
                "#4745be", "#3f3db6", "#3532ab", "#2a28a0", // 7.0 ~ 7.5
                "#221f97", "#19168e", "#16137f", "#131172", // 7.5 ~ 8.0
                "#110f64", "#0f0d55", "#0c0b46", "#0a0839", // 8.0 ~ 8.5
                "#07062b", "#05051f", "#030211", "#010104", // 8.5 ~ 9.0
                "#000000" // 9.0 ~
            ]
            let index = Math.floor(diff / 0.125);
            if (index > 72) {
                index = 72;
            }
            return color[index];
        }
        const diffByMode = new Array(diffs.length);
        for (let i = 0; i < diffByMode.length; i++) {
            diffByMode[i] = new Array(4);
            for (let j = 0; j < diffByMode[i].length; j++) {
                diffByMode[i][j] = {
                    id: new Array(0),
                    diff: new Array(0),
                    version: new Array(0)
                }
            }
        }
        for (let i = 0; i < diffByMode.length; i++) {
            for (let j = 0; j < diffs[i].length; j++) {
                diffByMode[i][diffs[i][j].mode].id.push(diffs[i][j].id);
                diffByMode[i][diffs[i][j].mode].diff.push(diffs[i][j].diff);
                diffByMode[i][diffs[i][j].mode].version.push(diffs[i][j].version);
            }
        }
        %>
    </head>
    <body>
    <%- include("header") %>
    <img class="banner" src="/image/banner/maplist.jpg" alt="">
    <h1 class="pagename">BEATMAPS</h1>
    <main>
        <div class="option">
            <div class="flex">
                <h1>
                    <i class="fa-brands fa-itunes-note"></i>
                    <% if (type === "custom") { %>
                        Custom ranked listing
                    <% } else if (type === "default") { %>
                        Default map listing
                    <% } else { %>
                        All map listing
                    <% } %>
                </h1>
            </div>
            <div class="background">
                <% if (mapsets.length > 0) { %>
                    <img src="https://assets.ppy.sh/beatmaps/<%= mapsets[0].set_id %>/covers/cover.jpg?">
                <% } %>
                <div class="selection">
                    <h1>Mode</h1>
                    <ul class="mode">
                        <li class="any"
                        <% if (mode === "any") { %>
                            style="color: #fdfdfd;"
                        <% } %>>
                            <a href="/maplist/<%= type %>/any<%= filter !== 'none' ? `/${filter}` : '' %>">
                                Any
                            </a>
                        </li>
                        <li class="std"
                        <% if (mode === "std") { %>
                            style="color: #fdfdfd;"
                        <% } %>>
                            <a href="/maplist/<%= type %>/std<%= filter !== 'none' ? `/${filter}` : '' %>">
                                <i class="mode-icon mode-osu"></i>std
                            </a>
                        </li>
                        <li class="taiko"
                        <% if (mode === "taiko") { %>
                            style="color: #fdfdfd;"
                        <% } %>>
                            <a href="/maplist/<%= type %>/taiko<%= filter !== 'none' ? `/${filter}` : '' %>">
                                <i class="mode-icon mode-taiko"></i>taiko
                            </a>
                        </li>
                        <li class="ctb"
                        <% if (mode === "ctb") { %>
                            style="color: #fdfdfd;"
                        <% } %>>
                            <a href="/maplist/<%= type %>/ctb<%= filter !== 'none' ? `/${filter}` : '' %>">
                                <i class="mode-icon mode-fruits"></i>ctb
                            </a>
                        </li>
                        <li class="mania"
                        <% if (mode === "mania") { %>
                            style="color: #fdfdfd;"
                        <% } %>>
                            <a href="/maplist/<%= type %>/mania<%= filter !== 'none' ? `/${filter}` : '' %>">
                                <i class="mode-icon mode-mania"></i>mania
                            </a>
                        </li>
                    </ul>
                    <div class="refine">
                        <div class="type">
                            <h1>Map types</h1>
                            <ul>
                                <li class="all"
                                <% if (type === "all") { %>
                                    style="color: #fdfdfd;"
                                <% } %>>
                                    <a href="/maplist/all/<%= mode %><%= filter !== 'none' ? `/${filter}` : '' %>">
                                        All
                                    </a>
                                </li>
                                <li class="custom"
                                <% if (type === "custom") { %>
                                    style="color: #fdfdfd;"
                                <% } %>>
                                    <a href="/maplist/custom/<%= mode %><%= filter !== 'none' ? `/${filter}` : '' %>">
                                        Custom ranked
                                    </a>
                                </li>
                                <li class="default"
                                <% if (type === "default") { %>
                                    style="color: #fdfdfd;"
                                <% } %>>
                                    <a href="/maplist/default/<%= mode %><%= filter !== 'none' ? `/${filter}` : '' %>">
                                        Default
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="filter">
                            <h1>Categories</h1>
                            <ul>
                                <li class="any"
                                <% if (filter === "none") { %>
                                    style="color: #fdfdfd;"
                                <% } %>>
                                    <a href="/maplist/<%= type %>/<%= mode %>">
                                        Any
                                    </a>
                                </li>
                                <li class="ranked"
                                <% if (filter === "ranked") { %>
                                    style="color: #fdfdfd;"
                                <% } %>>
                                    <a href="/maplist/<%= type %>/<%= mode %>/ranked">
                                        Ranked
                                    </a>
                                </li>
                                <li class="loved"
                                <% if (filter === "loved") { %>
                                    style="color: #fdfdfd;"
                                <% } %>>
                                    <a href="/maplist/<%= type %>/<%= mode %>/loved">
                                        Loved
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page">
                <% if (page !== 1) { %>
                    <a href="/maplist/<%= type %>/<%= mode %><%= filter !== 'none' ? `/${filter}` : '' %>&page=<%= page - 1 %>" class="pagearrow">
                        <i class="fa-solid fa-backward"></i>
                    </a>
                <% } %>
                <p>page : <%= page %></p>
                <% if (nextpage.length !== 0) { %>
                    <a href="/maplist/<%= type %>/<%= mode %><%= filter !== 'none' ? `/${filter}` : '' %>&page=<%= page + 1 %>" class="pagearrow">
                        <i class="fa-solid fa-forward"></i>
                    </a>
                <% } %>
            </div>
        </div>
        <div class="list">
            <% if (mapsets.length <= 0) { %>
                <h1 class="nothing">No maps available</h1>
            <% } else { %>
                <% for (let i = 0; i < mapsets.length; i++) { %>
                    <div class="background">
                        <div class="box" onclick="jumpToBeatmaps()">
                            <img src="https://assets.ppy.sh/beatmaps/<%= mapsets[i].set_id %>/covers/cover.jpg?" alt="" class="bg">
                            <div class="info">
                                <p class="title"><%= mapsets[i].title %></p>
                                <p class="artist">by <%= mapsets[i].artist %></p>
                                <p class="mapper">
                                    mapped by 
                                    <a href="https://osu.ppy.sh/users/<%= mapsets[i].creator %>" target="_blank" rel="noopener noreferrer">
                                        <%= mapsets[i].creator %>
                                    </a>
                                </p>
                            </div>
                            <div class="stats">
                                <span class="status" style="
                                <% if (mapsets[i].status === 2 || mapsets[i].status === 3) { %>
                                    background-color: #b3ff66;
                                    color: #3d4847;
                                <% } else { %>
                                    background-color: #fd65aa;
                                    color: #394246;
                                <% } %>">
                                    <% if (mapsets[i].status === 2 || mapsets[i].status === 3) { %>
                                        RANKED
                                    <% } else { %>
                                        LOVED
                                    <% } %>
                                </span>
                                <span class="diff">
                                    <% for (let j = 0; j < diffByMode[i].length; j++) { %>
                                        <% for (let k = 0; k < diffByMode[i][j].id.length; k++) { %>
                                            <a title="★<%= diffByMode[i][j].diff[k].toFixed(2) %> <%= diffByMode[i][j].version[k] %>" href="/beatmaps/<%= mapsets[i].set_id %>/<%= diffByMode[i][j].id[k] %>" class="color">
                                                <i class="mode-icon mode-<%= getMode(j) %>" style="color: <%= getColor(diffByMode[i][j].diff[k]) %>"></i>
                                            </a>
                                        <% } %>
                                    <% } %>
                                </span>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </main>
    <%- include("footer") %>
    </body>
</html>