<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%= obj %> not found | Mamestagram</title>
        <meta name="robots" content="noindex">
        <%- include("link") %>
        <link rel="stylesheet" href="/css/hf-bg/profile.css">
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #2e293d;
            }

            header {
                background-color: transparent;
            }

            .animated {
                background-color: #345c84;
            }

            .animated .pc li:hover {
                background-color: #6495ed;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #345c84;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile .leaderboard span {
                border-left: 3px solid #6495ed;
            }

            .mobile li:hover {
                background-color: #4169e1;
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #35364d;
                color: #6495ed;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #35364d;
            }

            .link-form a, .link-form button {
                background-color: #345c84;
            }
            .link-form a:hover, .link-form button:hover {
                background-color: #6495ed;
            }

            .search-form .searchbox {
                background-color: #3d3946;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #615c70;
            }

            main {
                background-color: #17171c;
                color: #fdfdfd;
                font-family: "Righteous";
                height: 100%;
                min-height: 100vh;
                text-align: center;
            }

            main h1 {
                font-size: 40px;
                padding-top: 150px;
            }

            main h2 {
                font-size: 20px;
                padding: 20px;
            }

            main h2 a {
                opacity: 0.5;
            }
            main h2 a:hover {
                opacity: 1;
                text-decoration: underline;
            }

            @media (max-width: 1224px) {
                main h1 {
                    font-size: 20px;
                }

                main h2 {
                    font-size: 14px;
                }
            }
        </style>
    </head>
    <body>
        <%- include("header") %>
        <main>
            <h1><%= err %> : <%= obj %> not found :(</h1>
            <h2>Back to <a href="/leaderboard">Leaderboard</a></h2>
        </main>
        <%- include("footer") %>
    </body>
</html>