<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%= info.name %>'s Profile</title>
        <meta name="description" content="osu! private server Mamestagram's profile">
        <%- include("link") %>
        <link rel="stylesheet" href="/css/profile.css">
        <script src="/jquery/profile.js"></script>
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #2e293d;
            }

            header {
                background-color: transparent;
            }

            .animated {
                background-color: #345c84;
            }

            .animated .pc li:hover {
                background-color: #6495ed;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #345c84;
                }
            }

            .mobile {
                background-color: #24222a;
            }

            .mobile li:hover {
                background-color: #4169e1;
            }

            .mobile .register, .mobile .login, .mobile .avatar {
                background-color: #35364d;
                color: #6495ed;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
                background-color: #35364d;
            }

            .link-form a {
                background-color: #345c84;
            }
            .link-form a:hover {
                background-color: #6495ed;
            }
        </style>
        <script type="text/javascript">
            <%
            const getPlayTime = (time) => {
                let rst = "";
                rst += Math.floor(time / 86400).toLocaleString() + "d ";
                time %= 86400;
                rst += Math.floor(time / 3600).toLocaleString() + "h ";
                time %= 3600;
                rst += Math.floor(time / 60).toLocaleString() + "m";
                return rst;
            }
            const getMods = (modNum) => {
                let mod = new Array(0);
                const mods = [
                    "nf", // 0 : NoFail
                    "ez", // 1 : Eazy
                    "ts", // 2 : TouchScreen
                    "hd", // 3 : Hidden
                    "hr", // 4 : HardRock
                    "sd", // 5 : SaddenDeath
                    "dt", // 6 : DoubleTime
                    "rx", // 7 : Relax
                    "ht", // 8 : HalfTime
                    "nc", // 9 : NightCore
                    "fl", // 10 : FlashLight
                    "at", // 11 : AutoPlay
                    "so", // 12 : SpinOut
                    "ap", // 13 : Autopilot
                    "pf", // 14 : Perfect
                    "k4", // 15 : Key4
                    "k5", // 16 : Key5
                    "k6", // 17 : Key6
                    "k7", // 18 : Key7
                    "k8", // 19 : Key9
                    "fi", // 20 : FadeIn
                    "rd", // 21 : Random
                    "cm", // 22 : Cinema
                    "tp", // 23 : TargetPoint
                    "k9", // 24 : Key9
                    "kc", // 25 : KeyCoop
                    "k1", // 26 : Key1
                    "k3", // 27 : Key3
                    "k2", // 28 : Key2
                    "v2", // 29 : ScoreV2
                    "mr"  // 30 : Mirror
                ];
                for (let i = 30; i >= 0; i--) {
                    if (i !== 2 && i !== 11 && !(i >= 15 && i <= 19) && i !== 22 && !(i >= 24 && i <= 28) && modNum >= 1 << i) {
                        switch (i) {
                            case 14:
                                modNum -= 1 << 5;
                                break;
                            case 9:
                                modNum -= 1 << 6;
                                break;
                        }
                        mod.push(mods[i]);
                        modNum -= 1 << i;
                    }
                }
                mod = sortMods(mod);
                return mod;
            }
            const sortMods = (mods) => {
                const order = ["rx", "ap", "nf", "ez", "ht", "hd", "hr", "dt", "nc", "sd", "pf", "fl", "fi", "mr", "so", "v2"];
                let rst = new Array(0);
                for (let i = 0; i < 16; i++) {
                    for (let mod of mods) {
                        if (mod === order[i]) {
                            rst.push(mod);
                            break;
                        }
                    }
                }
                return rst;
            }
            const getModeName = (modeNum) => {
                switch (modeNum) {
                    case 0: return "std";
                    case 1: return "taiko";
                    case 2: return "ctb";
                    case 3: return "maina";
                    case 4: return "stdrx";
                    case 5: return "taikorx";
                    case 6: return "ctbrx";
                    case 8: return "stdap";
                    default: return "std";
                }
            }
            const getMode = (modeNum) => {
                switch (modeNum) {
                    case 0: return "osu";
                    case 1: return "taiko";
                    case 2: return "fruits";
                    case 3: return "mania";
                }
            }
            %>
        </script>
    </head>
    <body>
        <%- include("header") %>
        <main>
            <div class="box player-banner">
                <div class="username">
                    <img class="avatar" src="https://a.mamesosu.net/<%= id %>?<%= Math.floor(Math.random() * 1000) %>" alt="">
                    <% if (info.verified) { %>
                        <img class="badge verified" src="/image/badge/verified.png" alt="" title="verified✓">
                        <img class="badge verified-hover" src="/image/badge/verified-hover.png" alt="" title="verified✓">
                    <% } %>
                    <h1><%= info.name %></h1>
                    <% if (id === locals.userid) { %>
                        <a href="/rename" class="rename">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    <% } %>
                    <i class="flag-icon flag-icon-<%= info.country %>"></i>
                </div>
                <div class="selection">
                    <ul class="special">
                        <li class="classic"
                        <% if (modeNum >= 0 && modeNum < 4) { %>
                            style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                        <% } %>>
                            <a
                            <% if (modeNum === 0 || modeNum === 4 || modeNum === 8) { %>
                                href="/profile/<%= id %>/std"
                            <% } else if (modeNum === 1 || modeNum === 5) { %>
                                href="/profile/<%= id %>/taiko"
                            <% } else if (modeNum === 2 || modeNum === 6) { %>
                                href="/profile/<%= id %>/ctb"
                            <% } else { %>
                                href="/profile/<%= id %>/mania"
                            <% } %>>Classic</a>
                        </li>
                        <% if (modeNum !== 3) { %>
                            <li class="relax"
                            <% if (modeNum >= 4 && modeNum < 7) { %>
                                style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                            <% } %>>
                                <a
                                <% if (modeNum === 0 || modeNum === 4 || modeNum === 8) { %>
                                    href="/profile/<%= id %>/stdrx"
                                <% } else if (modeNum === 1 || modeNum === 5) { %>
                                    href="/profile/<%= id %>/taikorx"
                                <% } else if (modeNum === 2 || modeNum === 6) { %>
                                    href="/profile/<%= id %>/ctbrx"
                                <% } %>>Relax</a>
                            </li>
                        <% } %>
                        <% if (modeNum === 0 || modeNum === 4 || modeNum === 8) { %>
                            <li class="auto-pilot"
                            <% if (modeNum === 8) { %>
                                style="border-bottom: 2px solid #fdfdfd; filter: invert(0%); opacity: 1;"
                            <% } %>>
                                <a href="/profile/<%= id %>/stdap">Auto Pilot</a>
                            </li>
                        <% } %>
                    </ul>
                    <ul class="mode">
                        <li class="std"
                        <% if (modeNum === 0 || modeNum === 4 || modeNum === 8) { %>
                            style="filter: invert(0%); opacity: 1"
                        <% } %>>
                            <a
                            <% if (modeNum >= 0 && modeNum < 4) { %>
                                href="/profile/<%= id %>/std"
                            <% } else if (modeNum < 7) { %>
                                href="/profile/<%= id %>/stdrx"
                            <% } else { %>
                                href="/profile/<%= id %>/stdap"
                            <% } %>><i class="mode-icon mode-osu"></i></a>
                        </li>
                        <% if (modeNum !== 8) { %>
                            <li class="taiko"
                            <% if (modeNum === 1 || modeNum === 5) { %>
                                style="filter: invert(0%); opacity: 1"
                            <% } %>>
                                <a
                                <% if (modeNum >= 0 && modeNum < 4) { %>
                                    href="/profile/<%= id %>/taiko"
                                <% } else { %>
                                    href="/profile/<%= id %>/taikorx"
                                <% } %>><i class="mode-icon mode-taiko"></i></a>
                            </li>
                            <li class="catch"
                            <% if (modeNum === 2 || modeNum === 6) { %>
                                style="filter: invert(0%); opacity: 1"
                            <% } %>>
                                <a
                                <% if (modeNum >= 0 && modeNum < 4) { %>
                                    href="/profile/<%= id %>/ctb"
                                <% } else { %>
                                    href="/profile/<%= id %>/ctbrx"
                                <% } %>><i class="mode-icon mode-fruits"></i></a>
                            </li>
                        <% } %>
                        <% if (modeNum >= 0 && modeNum < 4) { %>
                            <li class="mania"
                            <% if (modeNum === 3) { %>
                                style="filter: invert(0%); opacity: 1"
                            <% } %>>
                                <a href="/profile/<%= id %>/mania">
                                    <i class="mode-icon mode-mania"></i>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="box player-info">
                <div class="overview">
                    <div class="wrap ranking">
                        <div class="global">
                            <h1>Global Ranking</h1>
                            <h2>
                                <% if (info.acc === 0 || (info.priv !== 3 && info.priv !== 31879)) { %>
                                    -
                                <% } else { %>
                                    #<%= info.Granking.toLocaleString() %>
                                <% } %>
                            </h2>
                        </div>
                        <div class="country">
                            <h1>Country Ranking</h1>
                            <h2>
                                <% if (info.acc === 0 || (info.priv !== 3 && info.priv !== 31879)) { %>
                                    -
                                <% } else { %>
                                    #<%= info.Cranking.toLocaleString() %>
                                <% } %>
                            </h2>
                        </div>
                    </div>
                    <div class="wrap detail">
                        <div class="medals">
                            <h1>Medals</h1>
                            <h2><%= info.medals.toLocaleString() %></h2>
                        </div>
                        <div class="pp">
                            <h1>pp</h1>
                            <h2><%= info.pp.toLocaleString() %></h2>
                        </div>
                        <div class="playtime">
                            <h1>Total Play Time</h1>
                            <h2><%= getPlayTime(info.playtime) %></h2>
                        </div>
                    </div>
                    <div class="wrap grade-amounts">
                        <div class="xh">
                            <img src="/image/grade/XH.png" alt=""><br>
                            <%= info.xh_count.toLocaleString() %>
                        </div>
                        <div class="x">
                            <img src="/image/grade/X.png" alt=""><br>
                            <%= info.x_count.toLocaleString() %>
                        </div>
                        <div class="sh">
                            <img src="/image/grade/SH.png" alt=""><br>
                            <%= info.sh_count.toLocaleString() %>
                        </div>
                        <div class="s">
                            <img src="/image/grade/S.png" alt=""><br>
                            <%= info.s_count.toLocaleString() %>
                        </div>
                        <div class="a">
                            <img src="/image/grade/A.png" alt=""><br>
                            <%= info.a_count.toLocaleString() %>
                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="acc">
                        <h1>Hit Accuracy</h1>
                        <h2><%= info.acc.toFixed(2) %>%</h2>
                    </div>
                    <div class="plaucount">
                        <h1>Play Count</h1>
                        <h2><%= info.plays.toLocaleString() %></h2>
                    </div>
                    <div class="hits">
                        <h1>Total hits</h1>
                        <h2><%= info.total_hits.toLocaleString() %></h2>
                    </div>
                    <div class="rankedscore">
                        <h1>Ranked Score</h1>
                        <h2><%= info.rscore.toLocaleString() %></h2>
                    </div>
                    <div class="totalscore">
                        <h1>Total Score</h1>
                        <h2><%= info.tscore.toLocaleString() %></h2>
                    </div>
                    <div class="maxcombo">
                        <h1>Maximum Combo</h1>
                        <h2><%= info.max_combo.toLocaleString() %></h2>
                    </div>
                    <div class="watched">
                        <h1>Replays Watched</h1>
                        <h2><%= info.replay_views.toLocaleString() %></h2>
                    </div>
                </div>
            </div>
            <div class="box bestpp">
                <h1>Best Performance</h1>
                <div class="mode-<%= modeNum %>">
                    <% let flag, amt = 0; %>
                    <% if (bestpp.length === 0) { %>
                        <h1 class="nothing">No scores available</h1>
                    <% } else { %>
                        <% for (let i = 0; i < bestpp.length; i++) { %>
                            <%
                                let arr = new Array(0);
                                for (let j = 0; j < i; j++) { arr.push(bestpp[j].id); }
                                flag = !(getMods(bestpp[i].mods).includes("so") || arr.includes(bestpp[i].id));
                            %>
                            <% if (flag && amt < 100) { %>
                                <div class="wrap data">
                                    <img class="grade" src="/image/grade/<%= bestpp[i].grade %>.png" alt="">
                                    <a href="/beatmap/<%= bestpp[i].set_id%>/<%= bestpp[i].id %>/<%= bestpp[i].version %>" style="width: calc(100% - 320px - <%= Math.min(40 * getMods(bestpp[i].mods).length, 325) %>px);">
                                        <p class="title"><%= bestpp[i].title %> by <%= bestpp[i].artist %></p>
                                        <p class="diff"><%= bestpp[i].version %></p>
                                    </a>
                                    <div class="mods">
                                        <% getMods(bestpp[i].mods).forEach((mod) => { %>
                                            <img class="img" src="/image/mods/<%= mod %>.png" alt="">
                                        <% }); %>
                                    </div>
                                    <p class="acc"><%= bestpp[i].acc.toFixed(2) %>%</p>
                                    <div class="pp">
                                        <p class="recorded"><%= Math.round(bestpp[i].pp).toLocaleString() %><span>pp</span></p>
                                        <p class="weighted">(<%= Math.round(bestpp[i].pp * Math.pow(0.95, amt)).toLocaleString() %>pp)</p>
                                    </div>
                                </div>
                                <div class="data-mobile">
                                    <div class="flex info">
                                        <img class="grade" src="/image/grade/<%= bestpp[i].grade %>.png" alt="">
                                        <a href="/beatmap/<%= bestpp[i].set_id%>/<%= bestpp[i].id %>/<%= bestpp[i].version %>">
                                            <p class="title"><%= bestpp[i].title %> by <%= bestpp[i].artist %></p>
                                            <p class="diff"><%= bestpp[i].version %></p>
                                        </a>
                                        <% if (bestpp[i].mods !== 0) { %>
                                            <div class="mods">
                                                <% getMods(bestpp[i].mods).forEach((mod) => { %>
                                                    <img class="img" src="/image/mods/<%= mod %>.png" alt="">
                                                <% }); %>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="flex results">
                                        <p class="acc"><%= bestpp[i].acc.toFixed(2) %>%</p>
                                        <p class="recorded"><%= Math.round(bestpp[i].pp).toLocaleString() %><span>pp</span></p>
                                        <p class="weighted">(<%= Math.round(bestpp[i].pp * Math.pow(0.95, amt++)).toLocaleString() %>pp)</p>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <% for (let i = 0; i * 50 < amt; i++) { %>
                <% if (i === 0) { %>
                    <% if (amt > 5) { %>
                        <button class="show-more bp to50">
                            <i class="fa-solid fa-chevron-down arrow down"></i>
                            show more
                            <i class="fa-solid fa-chevron-down arrow down"></i>
                        </button>
                    <% } %>
                <% } else { %>
                    <button class="show-more bp to<%= (i + 1) * 50 %>" style="display: none">
                        <i class="fa-solid fa-chevron-down arrow down"></i>
                        show more
                        <i class="fa-solid fa-chevron-down arrow down"></i>
                    </button>
                <% } %>
            <% } %>
            <div class="box mostplays">
                <h1>Most Plays</h1>
                <div class="mode-<%= modeNum %>">
                    <% if (mostplays.length <= 0) { %>
                        <h1 class="nothing">No scores available</h1>
                    <% } else { %>
                        <% mostplays.forEach((data) => { %>
                            <div class="data">
                                <img src="https://b.ppy.sh/thumb/<%= data.set_id %>l.jpg?" alt="">
                                <a href="/beatmap/<%= data.set_id %>/<%= data.id %>/<%= data.version %>">
                                    <p class="title"><%= data.title %> [<%= data.version%>] by <%= data.artist %></p>
                                    <p class="mapper">mapped by <span><%= data.creator %></span></p>
                                </a>
                                <i class="mode-icon mode-<%= getMode(data.mode) %>"></i>
                                <div>
                                    <i class="fa-solid fa-play play-icon"></i>
                                    <p class="value"><%= data.playtimes.toLocaleString() %></p>
                                </div>
                            </div>
                            <div class="data-mobile">
                                <div class="mapbg">
                                    <img src="https://b.ppy.sh/thumb/<%= data.set_id %>l.jpg?" alt="">
                                    <div>
                                        <i class="fa-solid fa-play play-icon"></i>
                                        <p class="value"><%= data.playtimes.toLocaleString() %></p>
                                    </div>
                                </div>
                                <a href="/beatmap/<%= data.set_id %>/<%= data.id %>/<%= data.version %>">
                                    <p class="title"><%= data.title %> [<%= data.version%>] by <%= data.artist %></p>
                                    <p class="mapper">mapped by <span><%= data.creator %></span></p>
                                </a>
                                <i class="mode-icon mode-<%= getMode(data.mode) %>"></i>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
            <% for (let i = 0; i * 50 < mostplays.length; i++) { %>
                <% if (i === 0) { %>
                    <% if (mostplays.length > 5) { %>
                        <button class="show-more mp to50">
                            <i class="fa-solid fa-chevron-down arrow down"></i>
                            show more
                            <i class="fa-solid fa-chevron-down arrow down"></i>
                        </button>
                    <% } %>
                <% } else { %>
                    <button class="show-more mp to<%= (i + 1) * 50 %>" style="display: none">
                        <i class="fa-solid fa-chevron-down arrow down"></i>
                        show more
                        <i class="fa-solid fa-chevron-down arrow down"></i>
                    </button>
                <% } %>
            <% } %>
            <div class="box recentplays">
                <h1>Recent Plays</h1>
                <div class="mode-<%= modeNum %>">
                    <% if (recentplays.length <= 0) { %>
                        <h1 class="nothing">No scores available</h1>
                    <% } else { %>
                        <% for (let i = 0; i < recentplays.length; i++) { %>
                            <div class="data">
                                <img class="grade" src="/image/grade/<%= recentplays[i].grade %>.png" alt="">
                                <a href="/beatmap/<%= recentplays[i].set_id %>/<%= recentplays[i].id %>/<%= recentplays[i].version %>" style="width: calc(100% - 320px - <%= Math.min(40 * getMods(recentplays[i].mods).length, 325) %>px);">
                                    <p class="title"><%= recentplays[i].title %> by <%= recentplays[i].artist %></p>
                                    <p class="diff"><%= recentplays[i].version %></p>
                                </a>
                                <div class="mods">
                                    <% getMods(recentplays[i].mods).forEach((mod) => { %>
                                        <img class="mod" src="/image/mods/<%= mod %>.png" alt="">
                                    <% }); %>
                                </div>
                                <p class="acc"><%= recentplays[i].acc.toFixed(2) %>%</p>
                                <div class="pp">
                                    <p class="recorded"><%= Math.round(recentplays[i].pp).toLocaleString() %><span>pp</span></p>
                                    <p class="loved">
                                        <% if (recentplays[i].status !== 2) { %>
                                            (Loved)
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="data-mobile">
                                <div class="flex info">
                                    <img class="grade" src="/image/grade/<%= recentplays[i].grade %>.png" alt="">
                                    <a href="/beatmap/<%= recentplays[i].set_id%>/<%= recentplays[i].id %>/<%= recentplays[i].version %>">
                                        <p class="title"><%= recentplays[i].title %> by <%= recentplays[i].artist %></p>
                                        <p class="diff"><%= recentplays[i].version %></p>
                                    </a>
                                    <% if (recentplays[i].mods !== 0) { %>
                                        <div class="mods">
                                            <% getMods(recentplays[i].mods).forEach((mod) => { %>
                                                <img class="img" src="/image/mods/<%= mod %>.png" alt="">
                                            <% }); %>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="flex results">
                                    <p class="acc"><%= recentplays[i].acc.toFixed(2) %>%</p>
                                    <p class="recorded"><%= Math.round(recentplays[i].pp).toLocaleString() %><span>pp</span></p>
                                    <p class="weighted">(<%= Math.round(recentplays[i].pp * Math.pow(0.95, amt++)).toLocaleString() %>pp)</p>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <% for (let i = 0; i * 50 < recentplays.length; i++) { %>
                <% if (i === 0) { %>
                    <% if (recentplays.length > 5) { %>
                        <button class="show-more rp to50">
                            <i class="fa-solid fa-chevron-down arrow down"></i>
                            show more
                            <i class="fa-solid fa-chevron-down arrow down"></i>
                        </button>
                    <% } %>
                <% } else { %>
                    <button class="show-more rp to<%= (i + 1) * 50 %>" style="display: none">
                        <i class="fa-solid fa-chevron-down arrow down"></i>
                        show more
                        <i class="fa-solid fa-chevron-down arrow down"></i>
                    </button>
                <% } %>
            <% } %>
        </main>
        <%- include("footer") %>
    </body>
</html>
