<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%= info.name %>'s Profile</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/hf-bg/profile.css">
        <link rel="stylesheet" href="/css/Pmode/<%= mode %>.css">
        <link rel="stylesheet" href="/css/Pspecial/<%= sp %>.css">
        <%
        const getPlayTime = (time) => {
            let res = "";
            res += Math.floor(time / 86400).toLocaleString() + "d ";
            time %= 86400;
            res += Math.floor(time / 3600).toLocaleString() + "h ";
            time %= 3600;
            res += Math.floor(time / 60).toLocaleString() + "m";
            return res;
        }
        const getMods = (modNum) => {
            let mod = new Array(0);
            const mods = [
                "nf", // 0 : NoFail
                "ez", // 1 : Eazy
                "ts", // 2 : TouchScreen
                "hd", // 3 : Hidden
                "hr", // 4 : HardRock
                "sd", // 5 : SaddenDeath
                "dt", // 6 : DoubleTime
                "rx", // 7 : Relax
                "ht", // 8 : HalfTime
                "nc", // 9 : NightCore
                "fl", // 10 : FlashLight
                "at", // 11 : AutoPlay
                "so", // 12 : SpinOut
                "ap", // 13 : Autopilot
                "pf", // 14 : Perfect
                "k4", // 15 : Key4
                "k5", // 16 : Key5
                "k6", // 17 : Key6
                "k7", // 18 : Key7
                "k8", // 19 : Key9
                "fi", // 20 : FadeIn
                "rd", // 21 : Random
                "cm", // 22 : Cinema
                "tp", // 23 : TargetPoint
                "k9", // 24 : Key9
                "kc", // 25 : KeyCoop
                "k1", // 26 : Key1
                "k3", // 27 : Key3
                "k2", // 28 : Key2
                "v2", // 29 : ScoreV2
                "mr"  // 30 : Mirror
            ];
            for (let i = 30; i >= 0; i--) {
                if (i !== 2 && i !== 11 && !(i >= 15 && i <= 19) && i !== 22 && !(i >= 24 && i <= 28) && modNum >= Math.pow(2, i)) {
                    switch (i) {
                        case 14:
                            modNum -= Math.pow(2, 5);
                            break;
                        case 9:
                            modNum -= Math.pow(2, 6);
                            break;
                    }
                    mod.push(mods[i]);
                    modNum -= Math.pow(2, i);
                }
            }
            mod = sortMods(mod);
            return mod;
        }
        const sortMods = (mods) => {
            const order = ["rx", "ap", "nf", "ez", "ht", "hd", "hr", "dt", "nc", "sd", "pf", "fl", "fi", "mr", "so", "v2"];
            let rst = new Array(0);
            for (let i = 0; i < 16; i++) {
                for (let mod of mods) {
                    if (mod === order[i]) {
                        rst.push(mod);
                        break;
                    }
                }
            }
            return rst;
        }
        const getMode = (modeNum) => {
            let mode = ""
            switch (modeNum) {
                case 0:
                    mode += "osu";
                    break;
                case 1:
                    mode += "taiko";
                    break;
                case 2:
                    mode += "fruits";
                    break;
                case 3:
                    mode += "mania";
                    break;
            }
            return mode;
        }
        const getSongName = (name, diff, artist, format) => {
            if (format === "simple") {
                return name + " by " + artist;
            }
            else if (format === "full") {
                return name + " [" + diff + "] by " + artist;
            }
        }
        const bestppRecCount = (page, data) => {
            let i = 0, num = 0, display = false, flag, cnt = 0;
            for (let map of data) {
                if (num >= page * 10 - 10) {
                    display = true;
                }
                if (num >= page * 10 || num >= 100) {
                    break;
                }
                flag = true;
                for(let j = 0; j < i; j++) {
                    if (data[j].md5 === map.md5) {
                        flag = false;
                        break;
                    }
                }
                if (display && flag) {
                    cnt++;
                    num++;
                }
                else if (flag) {
                    num++;
                }
                i++;
            }
            return cnt;
        }
        const playsRecCount = (page, data, amount) => {
            let num = 0, display = false, cnt = 0;
            for (let map of data) {
                if (num >= page * amount - amount) {
                    display = true;
                }
                if (num >= page * amount) {
                    break;
                }
                if (display) {
                    cnt++;
                }
                num++;
            }
            return cnt;
        }
        %>
    </head>
    <body>
    <%- include("header") %>
    <main>
        <div class="box player-banner">
            <div class="self">
                <i class="flag-icon flag-icon-<%= info.country %>"></i>
                <span class="name"><%= info.name %></span>
                <% if (parseInt(id) === locals.userid) { %>
                    <a href="/rename">
                        <i class="fa-solid fa-pen-to-square rename-icon"></i>
                    </a>
                <% } %>
            </div>
            <div class="selection">
                <ul class="special">
                    <li class="classic">
                        <a href="/profile/id=<%= id %>/mode=<%= mode %>/special=none/bestpp=1&mostplays=1&recentplays=1">
                            Classic
                        </a>
                    </li>
                    <% if (mode !== "mania") { %>
                        <li class="relax">
                            <a href="/profile/id=<%= id %>/mode=<%= mode %>/special=rx/bestpp=1&mostplays=1&recentplays=1">
                                Relax
                            </a>
                        </li>
                    <% } %>
                    <% if (mode === "std") { %>
                        <li class="auto-pilot">
                            <a href="/profile/id=<%= id %>/mode=<%= mode %>/special=ap/bestpp=1&mostplays=1&recentplays=1">
                                Auto Pilot
                            </a>
                        </li>
                    <% } %>
                </ul>
                <ul class="mode">
                    <li class="std-icon">
                        <a href="/profile/id=<%= id %>/mode=std/special=<%= sp %>/bestpp=1&mostplays=1&recentplays=1">
                            <img src="/image/mode/osu.png">
                        </a>
                    </li>
                    <% if (sp !== "ap") { %>
                        <li class="taiko-icon">
                            <a href="/profile/id=<%= id %>/mode=taiko/special=<%= sp %>/bestpp=1&mostplays=1&recentplays=1">
                                <img src="/image/mode/taiko.png">
                            </a>
                        </li>
                        <li class="catch-icon">
                            <a href="/profile/id=<%= id %>/mode=ctb/special=<%= sp %>/bestpp=1&mostplays=1&recentplays=1">
                                <img src="/image/mode/fruits.png">
                            </a>
                        </li>
                    <% } %>
                    <% if (sp === "none") { %>
                        <li class="mania-icon">
                            <a href="/profile/id=<%= id %>/mode=mania/special=<%= sp %>/bestpp=1&mostplays=1&recentplays=1">
                                <img src="/image/mode/mania.png">
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="box player-info">
            <div class="stats">
                <div class="ranking">
                    <div class="global-ranking">
                        <span class="title">Global Ranking</span><br>
                        <% if (info.acc === 0) { %>
                            <span class="value">-</span>
                        <% } else { %>
                            <span class="value">#<%= info.GRanking.toLocaleString() %></span>
                        <% } %>
                    </div>
                    <div class="country-ranking">
                        <span class="title">Country Ranking</span><br>
                        <% if (info.acc === 0) { %>
                            <span class="value">-</span>
                        <% } else { %>
                            <span class="value">#<%= info.CRanking.toLocaleString() %></span>
                        <% } %>
                    </div>
                </div>
                <div class="other-info">
                    <div class="medals">
                        <span class="title">Medals</span><br>
                        <span class="value"><%= info.medals.toLocaleString() %></span>
                    </div>
                    <div class="player-pp">
                        <span class="title">pp</span><br>
                        <span class="value"><%= info.pp.toLocaleString() %></span>
                    </div>
                    <div class="playtime">
                        <span class="title">Total Play TIme</span><br>
                        <span class="value"><%= getPlayTime(info.playtime) %></span>
                    </div>
                </div>
                <div class="grade-amounts">
                    <div class="xh">
                        <img src="/image/grade/XH-amount.png"><br>
                        <span class="value"><%= info.xh_count.toLocaleString() %></span>
                    </div>
                    <div class="x">
                        <img src="/image/grade/X-amount.png"><br>
                        <span class="value"><%= info.x_count.toLocaleString() %></span>
                    </div>
                    <div class="sh">
                        <img src="/image/grade/SH-amount.png"><br>
                        <span class="value"><%= info.sh_count.toLocaleString() %></span>
                    </div>
                    <div class="s">
                        <img src="/image/grade/S-amount.png"><br>
                        <span class="value"><%= info.s_count.toLocaleString() %></span>
                    </div>
                    <div class="a">
                        <img src="/image/grade/A-amount.png"><br>
                        <span class="value"><%= info.a_count.toLocaleString() %></span>
                    </div>
                </div>
            </div>
            <div class="player-scores">
                <div class="acc">
                    <span class="title">Hit Accuracy</span>
                    <span class="value"><%= info.acc.toFixed(2) %>%</span>
                </div>
                <div class="playcount">
                    <span class="title">Play Count</span>
                    <span class="value"><%= info.plays.toLocaleString() %></span>
                </div>
                <div class="hits">
                    <span class="title">Total Hits</span>
                    <span class="value"><%= info.total_hits.toLocaleString() %></span>
                </div>
                <div class="ranked-score">
                    <span class="title">Ranked Score</span>
                    <span class="value"><%= info.rscore.toLocaleString() %></span>
                </div>
                <div class="total-score">
                    <span class="title">Total Score</span>
                    <span class="value"><%= info.tscore.toLocaleString() %></span>
                </div>
                <div class="maxcombo">
                    <span class="title">Maximum Combo</span>
                    <span class="value"><%= info.max_combo.toLocaleString() %></span>
                </div>
                <div class="replayed">
                    <span class="title">Replays Watched</span>
                    <span class="value"><%= info.replay_views.toLocaleString() %></span>
                </div>
            </div>
        </div>
        <div class="box bestpp-list" id="bestpp">
            <div class="bestpp-header">
                <h1>Best Performance</h1>
                <div class="page">
                    <h2>page : <%= bppage %></h2>
                    <div class="pagearrow">
                        <% let page=Number(bppage); %>
                        <% if (page === 1) { %>
                            <a class="back" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= page - 1 %>&mostplays=<%= mppage %>&recentplays=<%= rspage %>#bestpp">
                                <img hidden src="/image/arrow.png">
                            </a>
                        <% } else { %>
                            <a class="back" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= page - 1 %>&mostplays=<%= mppage %>&recentplays=<%= rspage %>#bestpp">
                                <img src="/image/arrow.png">
                            </a>
                        <% } %>
                        <% if (page === 10 || bestppRecCount(page + 1, bestpp) === 0) { %>
                            <a class="next" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= page + 1 %>&mostplays=<%= mppage %>&recentplays=<%= rspage %>#bestpp">
                                <img hidden src="/image/arrow.png">
                            </a>
                        <% } else { %>
                            <a class="next" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= page + 1 %>&mostplays=<%= mppage %>&recentplays=<%= rspage %>#bestpp">
                                <img src="/image/arrow.png">
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if (bestppRecCount(page, bestpp) === 0) { %>
                <h1 class="nothing">No scores available</h1>
            <% } else { %>
                <% let i = 0; %>
                <% let n = 0; %>
                <% let display = false; %>
                <% for (let map of bestpp) { %>
                    <% if (n >= page * 10 - 10) {
                        display = true;
                    } %>
                    <% if (n >= page * 10 || n >= 100) {
                        break;
                    } %>
                    <% let flag = true; %>
                    <% for (let mod of getMods(map.mods)) {
                        if (mod === "so" || mod === "v2") {
                            flag = false;
                        }
                    }
                    for(let j = 0; j < i; j++) {
                        if (bestpp[j].md5 === map.md5) {
                            flag = false;
                            break;
                        }
                    } %>
                    <% if (display && flag) { %>
                        <div class="list">
                            <img src="/image/grade/<%= map.grade %>.png" class="grade">
                            <div class="map-info">
                                <a href="/beatmap/set=<%= map.set_id %>/id=<%= map.id %>/diff=<%= map.version %>">
                                    <span class="title"><%= getSongName(map.title, map.version, map.artist, "simple") %></span><br>
                                    <span class="diff"><%= map.version %></span>
                                </a>
                            </div>
                            <div class="scores">
                                <span class="mods">
                                    <% const mods=getMods(map.mods); %>
                                    <% mods.forEach((mod) => { %>
                                        <img src="/image/mods/<%= mod %>.png">
                                    <% }); %>
                                </span>
                                <span class="acc"><%= map.acc.toFixed(2) %>%</span>
                                <span class="pp">
                                    <span class="recorded"><%= Math.round(map.pp).toLocaleString() %><span>pp</span></span>
                                    <span class="weighted">(<%= Math.round(map.pp * Math.pow(0.95, n)).toLocaleString() %>pp)</span>
                                </span>
                            </div>
                        </div>
                        <div class="list-mobile">
                            <img src="/image/grade/<%= map.grade %>.png" class="grade">
                            <div class="map-info">
                                <a href="https://osu.ppy.sh/beatmapsets/<%= map.set_id %>#<%= getMode(map.mode) %>/<%= map.id %>" target="_blank" rel="noopener noreferrer">
                                    <span class="title"><%= getSongName(map.title, map.version, map.artist, "simple") %></span><br>
                                    <span class="diff"><%= map.version %></span>
                                </a><br>
                                <span class="mods">
                                    <% mods.forEach((mod) => { %>
                                        <img src="/image/mods/<%= mod %>.png">
                                    <% }); %>
                                </span>
                            </div>
                            <div class="scores">
                                <span class="acc"><%= map.acc.toFixed(2) %>%</span>
                                <span class="pp">
                                    <span class="recorded"><%= Math.round(map.pp).toLocaleString() %><span>pp</span></span>
                                    <span class="weighted">(<%= Math.round(map.pp * Math.pow(0.95, n)).toLocaleString() %>pp)</span>
                                </span>
                            </div>
                        </div>
                        <% n++; %>
                    <% } else if (flag) {
                        n++;
                    } %>
                    <% i++; %>
                <% } %>
            <% } %>
        </div>
        <div class="box mostplays-list" id="mostplays">
            <div class="mostplays-header">
                <h1>Most Plays</h1>
                <div class="page">
                    <h2>page : <%= mppage %></h2>
                    <div class="pagearrow">
                        <% page = Number(mppage); %>
                        <% let amount = 10; %>
                        <% if (page === 1) { %>
                            <a class="back" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= page - 1 %>&recentplays=<%= rspage %>#mostplays">
                                <img hidden src="/image/arrow.png">
                            </a>
                        <% } else { %>
                            <a class="back" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= page - 1 %>&recentplays=<%= rspage %>#mostplays">
                                <img src="/image/arrow.png">
                            </a>
                        <% } %>
                        <% if (playsRecCount(page + 1, mostplays, amount) === 0) { %>
                            <a class="next" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= page + 1 %>&recentplays=<%= rspage %>#mostplays">
                                <img hidden src="/image/arrow.png">
                            </a>
                        <% } else { %>
                            <a class="next" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= page + 1 %>&recentplays=<%= rspage %>#mostplays">
                                <img src="/image/arrow.png">
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if (playsRecCount(page, mostplays, amount) === 0) { %>
                <h1 class="nothing">No scores available</h1>
            <% } else { %>
                <% let n = 0; %>
                <% let display = false; %>
                <% for (let map of mostplays) { %>
                    <% if (n >= page * amount - amount) {
                        display = true;
                    } %>
                    <% if (n >= page * amount) {
                        break;
                    } %>
                    <% if (display) { %>
                        <div class="list">
                            <img class="mapbg" src="https://b.ppy.sh/thumb/<%= map.set_id %>l.jpg?">
                            <div class="map-info">
                                <a href="https://osu.ppy.sh/beatmapsets/<%= map.set_id %>#<%= getMode(map.mode) %>/<%= map.id %>" target="_blank" rel="noopener noreferrer">
                                    <span class="title"><%= getSongName(map.title, map.version, map.artist, "full") %></span><br>
                                    <span class="mapper">mapped by <span class="bold"><%= map.creator %></span></span>
                                </a>
                            </div>
                            <div class="main-info">
                                <img class="mode" src="/image/mode/<%= getMode(map.mode) %>.png">
                                <div>
                                    <i class="fa-solid fa-play fa-xs play-icon"></i>
                                    <span class="value"><%= map.playtimes.toLocaleString() %></span>
                                </div>
                            </div>
                        </div>
                        <div class="list-mobile">
                            <div class="mapbg">
                                <img src="https://b.ppy.sh/thumb/<%= map.set_id %>l.jpg?">
                            </div>
                            <div class="main-info">
                                <img class="mode" src="/image/mode/<%= getMode(map.mode) %>.png">
                                <div>
                                    <i class="fa-solid fa-play fa-xs play-icon"></i>
                                    <span class="value"><%= map.playtimes.toLocaleString() %></span>
                                </div>
                            </div>
                            <div class="map-info">
                                <a href="https://osu.ppy.sh/beatmapsets/<%= map.set_id %>#<%= getMode(map.mode) %>/<%= map.id %>" target="_blank" rel="noopener noreferrer">
                                    <span class="title"><%= getSongName(map.title, map.version, map.artist, "full") %></span><br>
                                    <span class="mapper">mapped by <span class="bold"><%= map.creator %></span></span>
                                </a>
                            </div>
                        </div>
                    <% } %>
                    <% n++; %>
                <% } %>
            <% } %>
        </div>
        <div class="box recentplays-list" id="recentplays">
            <div class="recentplays-header">
                <h1>Recent Plays (24h)</h1>
                <div class="page">
                    <h2>page : <%= rspage %></h2>
                    <div class="pagearrow">
                        <% page = Number(rspage); %>
                        <% amount = 7; %>
                        <% if (page === 1) { %>
                            <a class="back" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= mppage %>&recentplays=<%= page - 1 %>#recentplays">
                                <img hidden src="/image/arrow.png">
                            </a>
                        <% } else { %>
                            <a class="back" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= mppage %>&recentplays=<%= page - 1 %>#recentplays">
                                <img src="/image/arrow.png">
                            </a>
                        <% } %>
                        <% if (playsRecCount(page + 1, recentplays, amount) === 0) { %>
                            <a class="next" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= mppage %>&recentplays=<%= page + 1 %>#recentplays">
                                <img hidden src="/image/arrow.png">
                            </a>
                        <% } else { %>
                            <a class="next" href="/profile/id=<%= id %>/mode=<%= mode %>/special=<%= sp %>/bestpp=<%= bppage %>&mostplays=<%= mppage %>&recentplays=<%= page + 1 %>#recentplays">
                                <img src="/image/arrow.png">
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if (playsRecCount(page, recentplays, amount) === 0) { %>
                <h1 class="nothing">No Plays available</h1>
            <% } else { %>
                <% let n = 0; %>
                <% let display = false; %>
                <% for (let map of recentplays) { %>
                    <% if (n >= page * amount - amount) {
                        display = true;
                    } %>
                    <% if (n >= page * amount) {
                        break;
                    } %>
                    <% if (display) { %>
                        <div class="list">
                            <% if (map.grade !== "F") { %>
                                <img src="/image/grade/<%= map.grade %>.png" class="grade">
                            <% } %>
                            <div class="map-info">
                                <a href="https://osu.ppy.sh/beatmapsets/<%= map.set_id %>#<%= mode %>/<%= map.id %>" target="_blank" rel="noopener noreferrer">
                                    <span class="title"><%= getSongName(map.title, map.version, map.artist, "simple") %></span><br>
                                    <span class="diff"><%= map.version %></span>
                                </a>
                            </div>
                            <div class="scores">
                                <span class="mods">
                                    <% const mods = getMods(map.mods); %>
                                    <% mods.forEach((mod) => { %>
                                        <img src="/image/mods/<%= mod %>.png">
                                    <% }); %>
                                </span>
                                <span class="acc"><%= map.acc.toFixed(2) %>%</span>
                                <div class="pp">
                                    <span class="recorded"><%= Math.round(map.pp).toLocaleString() %><span>pp</span></span>
                                    <span class="status">
                                        <% if (map.grade === "F") { %>
                                            (Failed)
                                        <% } else { %>
                                            <% if (map.status === 0) { %>
                                                (Pending)
                                            <% } else if (map.status === 4) { %>
                                                (Qualified)
                                            <% } else if (map.status === 5) { %>
                                                (Loved)
                                            <% } %>
                                        <% } %>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="list-mobile">
                            <% if (map.grade !== "F") { %>
                                <img src="/image/grade/<%= map.grade %>.png" class="grade">
                            <% } %>
                            <div class="map-info">
                                <a href="https://osu.ppy.sh/beatmapsets/<%= map.set_id %>#<%= mode %>/<%= map.id %>" target="_blank" rel="noopener noreferrer">
                                    <span class="title"><%= getSongName(map.title, map.version, map.artist, "simple") %></span><br>
                                    <span class="diff"><%= map.version %></span>
                                </a><br>
                                <span class="mods">
                                    <% mods.forEach((mod) => { %>
                                        <img src="/image/mods/<%= mod %>.png">
                                    <% }); %>
                                </span>
                            </div>
                            <div class="scores">
                                <span class="acc"><%= map.acc.toFixed(2) %>%</span>
                                <div class="pp">
                                    <span class="recorded"><%= Math.round(map.pp).toLocaleString() %><span>pp</span></span>
                                    <span class="status">
                                        <% if (map.grade === "F") { %>
                                            (Failed)
                                        <% } else { %>
                                            <% if (map.status === 0) { %>
                                                (Pending)
                                            <% } else if (map.status === 4) { %>
                                                (Qualified)
                                            <% } else if (map.status === 5) { %>
                                                (Loved)
                                            <% } %>
                                        <% } %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% n++;%>
                <% } %>
            <% } %>
        </div>
    </main>
    <%- include("footer") %>
    </body>
</html>