<!DOCTYPE html>
<html lang="ja">
<head>
    <%
    const date = new Date().toLocaleString("ja-JP", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
    }).replaceAll("/", "").replaceAll(" ", "").replaceAll(":", "");
    %>
    <title>Register | Mamestagram</title>
    <%- include("link") %>
    <link rel="stylesheet" href="/css/register.css?<%= date %>" />
    <script src="https://www.google.com/recaptcha/api.js?render=6LcsItomAAAAABWqvEVs5hnMIcT3eWSjMfbgrsAo"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        body::-webkit-scrollbar-track {
            background-color: #fdfdfd;
        }
        body::-webkit-scrollbar-thumb {
            background-color: #3d3029;
        }

        header {
            background-color: transparent;
        }

        header .pc .register {
            color: #fdfdfd;
        }

        .animated {
            background-color: #ac6039;
        }

        .animated .pc li:hover {
            background-color: #ff9966;
        }

        .animated .pc .register {
            border-bottom: 3px solid #ff9966;
        }

        @media (max-width: 1232px) {
            header {
                background-color: #ac6039;
            }
        }

        .mobile {
            background-color: #24222a;
        }

        .mobile .register {
            background-color: #2e241f;
            color: #fdfdfd;
        }

        .mobile li:hover {
            background-color: rgba(253, 152, 101, 0.3);
        }

        .mobile .register, .mobile .login, .mobile .avatar {
            background-color: #3d3029;
            color: #d9b29e;
        }
        .mobile .register:hover, .mobile .login:hover, .mobile .avatar:hover {
            background-color: #3d3029;
        }

        .link-form a, .link-form button {
            background-color: #ac6039;
        }
        .link-form a:hover, .link-form button:hover {
            background-color: #ff9966;
        }

        .search-form .searchbox {
                background-color: #463e39;
            }

            .search-form .searchbox .txtbox {
                border-bottom: 2px solid #70635c;
            }
    </style>
</head>
<body>
<%- include("header") %>
<main>
    <div class="register-form">
        <form action="/register" id="register" method="post">
            <h1 class="title">Register</h1>
            <div class="username">
                <span class="username-title">Username</span>
                <p class="caution">(within 15 Characters)</p>
                <% if (err.includes("empname")) { %>
                    <span class="errmsg">Enter your name</span>
                <% } else if (err.includes("spacebar")) { %>
                    <span class="errmsg">Don't use spacebar at beginning or end</span>
                <% } else if (err.includes("emoji")) { %>
                    <span class="errmsg">Don't use any emoji</span>
                <% } else if (err.includes("overname")) { %>
                    <span class="errmsg">Keep it within 15 characters</span>
                <% } else if (err.includes("dupname")) { %>
                    <span class="errmsg">This name is already in use</span>
                <% } else if (err.includes("invalid")) { %>
                    <span class="errmsg">Can't use this name</span>
                <% } else if (err.includes("banword")) { %>
                    <span class="errmsg">Banned words are contained</span>
                <% } %>
                <input type="text" name="username" value="<%= untxt %>" required>
            </div>
            <div class="email">
                <span class="email-title">Email Address</span>
                <% if (err.includes("empemail")) { %>
                    <span class="errmsg">Enter your email</span>
                <% } else if (err.includes("notemail")) { %>
                    <span class="errmsg">This is not an email format</span>
                <% } else if (err.includes("dupemail")) { %>
                    <span class="errmsg">This email is already in use</span>
                <% } %>
                <input type="email" name="email" value="<%= emtxt %>" required>
            </div>
            <div class="password">
                <span class="password-title">Password</span>
                <p class="caution">(at least 8 characters, including alphabets and numbers)</p>
                <% if (err.includes("emppass")) { %>
                    <span class="errmsg">Enter your password</span>
                <% } else if (err.includes("shortpass")) { %>
                    <span class="errmsg">Must be at least 8 characters</span>
                <% } else if (err.includes("weakpass")) { %>
                    <span class="errmsg">Include alphabets and numbers</span>
                <% } %>
                <input type="password" name="password" value="<%= pstxt %>" required>
            </div>
            <div class="confirm">
                <span class="confirm-title">Confirm password</span>
                <% if (err.includes("empconf")) { %>
                    <span class="errmsg">Enter your password</span>
                <% } else if (err.includes("wrongconf")) { %>
                    <span class="errmsg">Failure to confirm</span>
                <% } %>
                <input type="password" name="confirmpass" required>
            </div>
            <p class="reference">Already have an account? <a href="/login">Sign in</a></p>
            <input type="hidden" id="post" name="recaptcha" value="default">
            <% if (err === "nothuman") { %>
                <span class="errmsg verify">A problem has occurred</span>
                <p class="errmsg verify" style="padding-top: 5px; font-size: 12px;">If you are using IPv6, try again with IPv4</p>
            <% } else if (err === "wait") { %>
                <span class="errmsg verify">Give it a little time</span>
            <% } %>
            <button class="g-recaptcha"
            data-sitekey="6LcsItomAAAAABWqvEVs5hnMIcT3eWSjMfbgrsAo"
            data-callback="onSubmit"
            data-action="submit">Register</button>
            <p class="caution multi-account">*Do not create multiple account</p>
        </form>
        <script nonce="<%= cspNonce %>">
            function onSubmit(token) {
                document.getElementById("post").value = token;
                document.getElementById("register").submit();
            }
        </script>
    </div>
</main>
<%- include("footer") %>
</body>
</html>